<div class="<%= activity_type != undefined && activity_type==='system_comment'?'activity-system-comment':'activity-user-comment'%> ">
    <div class="pure-u-1-5">
        <%= created_by %>
    </div>
    <div class="pure-u-1-2 <%= activity_type%>">
        <%= note %>

    </div>
    <div class="pure-u-1-4">
        <%= created_at%>
    </div>
</div>
