<div class="order-name">
  <%= name %>
</div>

<div class="order-id">
  <%= id %> / <%= source_id %>
</div>

<div class="order-advertiser">
  <%= advertiser_name %>
</div>

<div class="order-dates">
  <%= start_date %>
  to
  <%= end_date %>
</div>
