<div id="push-confirmation-dialog" class="modal hide fade">
  <div class="modal-body">
    <p class="heading confirm-push-message">Sure you want to push? This will overwrite the whole order in DFP.</p>
    <p class="missed-ads-heading">
      The following line items are missing ads:
      <ul class="li-without-ads">
      </ul>
    </p>
    <div class="btns">
      <div class="cancel-btn">Cancel</div>
      <div class="push-btn">Push to Ad Server</div>
    </div>
  </div>
</div>

<div id="import-creatives-dialog" class="modal hide fade">
  <div class="import-creatives-border">
    <div class="modal-body">
      <p></p>
    </div>
    <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">OK</a>
  </div>
</div>

<div id="change-order-status-dialog" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Order's status</h4>
  </div>
  <div class="modal-body">
    <p>Saved successfully</p>
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">Close</a>
  </div>
</div>

<div id="apply-revisions-ads-dialog" class="modal hide fade">
  <div class="modal-body">
    <p class="heading apply-revisions-txt">Apply the new changes to ads</p>
  </div>
  <div class="btns">
    <div class="noapply-btn">Don't apply</div>
    <div class="apply-btn">Apply</div>
  </div>
</div>

<div class="new-order-header">
  <div style="float:left">
    <p class="heading"><%= order.name %></p>
    <p class="adv-name"><%= order.reach_client_name %></p>
  </div>

  <div class="current-io-status-top<% if(!isNaN(parseInt(order.source_id))) { %> pushed-status <% } %>">
    <span class="io-status"><%= order.order_status %></span>
    <% if(!isNaN(parseInt(order.source_id))) { %>
      <div class="current-io-source-id">
        <a href="<%= order.dfp_url %>" target="_blank"><%= order.source_id %></a>
      </div>
    <% } %>
  </div>

  <div class="clearfix"></div>

  <div class="pushing-errors-order-level"></div>

  <div style="clear:both"></div>

  <% if('revisions_proposed' == order.state){ %>
  <div class="cancel-revisions-btn" style="float:right;margin-right:20px;">
    Cancel Revisions
  </div>
  <% } %>

  <div class="clearfix"></div>

  <div class="imported-file-name">
    <div class="name">
      <label>Imported Files</label>
      <% if (order.id && order.io_asset_filename) { %>
        <% var io_asset_ext = order.io_asset_filename.substr(order.io_asset_filename.lastIndexOf('.') + 1) == 'pdf' ? 'pdf' : 'xls' %>
        <span><a href="/io_assets/<%= order.id %>.<%= io_asset_ext %>"><%= order.io_asset_filename %></a></span>
      <% } else { %>
        <span><%= order.io_asset_filename %></span>
      <% } %>
    </div>
    <div class="timestamp">
      <%= order.io_asset_created_at %>
    </div>

    <div class="creatives-txt-uploader">
      <input id="creatives_fileupload" type="file" name="io_creatives" class="creatives-fileupload" disabled>
      <a href="javascript:void(0)">
        <span class="upload-creatives-btn"></span>
        Creatives TXT
      </a>
    </div>

    <% if (order.id && order.io_revised) { %>
      <div style="clear:both"></div>
      <% _.each(order.io_revised, function(io) { %>
        <div class="name">
          <label>Revised IO File</label>
          <% var io_asset_ext = io.original_filename.substr(io.original_filename.lastIndexOf('.') + 1) == 'pdf' ? 'pdf' : 'xls' %>
          <span><a href="/io_assets/<%= order.id %>/revised_io/<%= io.asset_id %>.<%= io_asset_ext %>"><%= io.original_filename %></a></span>
        </div>
        <div class="timestamp">
          <%= io.asset_created_at %>
        </div>
      <% }); %>
    <% } %>

    <% if(order.is_existing_order && order.revised_io_filename) { %>
      <div style="clear:both"></div>
      <div class="name">
        <label>Revised IO File</label>
        <span class="revised-io-filename"><%= order.revised_io_filename %></span>
        <div class="timestamp">just uploaded</div>
      </div>
    <% } %>

    <% if (order.id && order.io_creatives) { %>
      <% _.each(order.io_creatives, function(c) { %>
        <div class="name">
          <span class="creative_name"><a href="/io_assets/<%= order.id %>/creatives/<%= c.asset_id %>.txt"><%= c.original_filename %></a></span>
        </div>
        <div class="timestamp">
          <%= c.asset_created_at %>
        </div>
      <% }); %>
    <% } %>

    <div style="clear:both"></div>

    <div id="revised_io_fileupload">
      Revised IO<input type="file" name="io_file"/>
    </div>
  </div>

  <div class="field trafficker-container">
    <p>Trafficker</p>
    <span class="editable typeahead" data-type="typeahead" data-pk="1"><%= order.trafficking_contact_name %></span>
    <div class="errors_container">
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="general-info-container pure-g">
    <div class="columns">
      <div class="pure-u-1-3">
        <div class="field network">
          <p>Network</p>
          <span>AMP Network CORE</span>
        </div>
        <div class="field advertiser-name">
          <p>Advertiser Name</p>
          <% if(parseInt(order.source_id)) { %>
            <span><%= order.advertiser_name %></span>
          <% } else { %>
            <span <% if(order.advertiser_unknown){ %> class="advertiser-unknown" <% } %>>
              <input type="text" autocomplete="off" name="advertiser_name" value="<%= order.advertiser_name %>"/>
            </span>
          <% } %>
        </div>
        <div class="field client-advertiser-name">
          <p>Client's Advertiser Name</p>
          <span><%= order.client_advertiser_name %></span>
        </div>
        <div class="field order-name<% if (order.order_name_dup && !order.is_existing_order) { %> field_with_errors<% } %>">
          <p>Order Name</p>
          <span class="editable custom" data-type="text" data-pk="1" data-name="name" data-mode="popup" data-inputclass="wide-editable-text"><%= order.name %></span>
          <div class="errors_container">
          <% if (order.order_name_dup && !order.is_existing_order) { %>
            This order name is already used
          <% } %>
          </div>
        </div>
        <div class="field client-order-id">
          <p>Client Order ID</p>
          <span class="editable" data-type="text" data-pk="1" data-name="client_order_id"><%= order.client_order_id %></span>
        </div>
        <div class="field start-date">
          <p>Start Date</p>
          <span class="editable date custom" data-type="date" data-pk="1" data-name="start_date"><%= order.start_date %></span>
          <div class="errors_container"></div>
        </div>
        <div class="field end-date">
          <p>End Date</p>
          <span class="editable date custom" data-type="date" data-pk="1" data-name="end_date"><%= order.end_date %></span>
          <div class="errors_container"></div>
        </div>
        <div class="field total-media-cost">
          <p>Total Media Cost</p>
          <span data-type="text" data-pk="1" data-name="total_media_cost">0</span>
        </div>
      </div>

      <div class="pure-u-1-3">
        <div class="field salesperson-name <% if(order.sales_person_unknown) { %> field_with_errors <% } %>">
          <p>
            <span class="pull-right">Salesperson</span>
            <span class="salesperson-icon pull-right" title="Sales person"></span>
            <% if(order.sales_person_unknown) { %>
            <span class="contact-unknown-icon pull-left" title="Sales person is not found in existing contacts"></span>
            <% } %>
          </p>
          <% if(order.reachui_users) { %>
          <select>
            <option value=""></option>
            <% if(order.sales_person_unknown) { %>
              <option value="" selected="selected"><%= order.sales_person_name %></option>
            <% } %>
            <% _.each(order.reachui_users, function(u) { %>
            <option value="<%= u.id %>|<%= u.email %>|<%= u.phone %>" <%= u.name == order.sales_person_name ? 'selected="selected"' : '' %>><%= u.name %></option>
            <% }); %>
          </select>
          <% } else { %>
          <span class="editable typeahead" data-name="sales_person_name" data-pk="1" data-type="typeahead"><%= order.sales_person_name %></span>
          <% } %>
          <div class="errors_container">
          <% if(order.sales_person_unknown) { %>
            This sales person is not associated with current Reach Client
          <% } else if(order.sales_person_name == "") { %>
            Validation failed: Name can't be blank
          <% } %>
          </div>
        </div>

        <div class="field salesperson-phone">
          <p>Phone</p>
          <span class="editable" data-type="text" data-pk="1" data-name="sales_person_phone"><%= order.sales_person_phone %></span>
        </div>

        <div class="field salesperson-email">
          <p>Email</p>
          <span class="editable" data-type="typeahead" data-pk="1" data-name="sales_person_email"><%= order.sales_person_email %></span>
        </div>

        <div class="field media-contact-name">
          <p>
            <span style="float:right">Media Contact</span>
            <span class="media-contact-icon pull-right" title="Media Contact"></span>
            <% if(order.media_contact_unknown) { %>
            <span class="contact-unknown-icon pull-left" title="Media Contact is not found in existing contacts"></span>
            <% } %>
          </p>
          <% if(order.media_contacts) { %>
          <select>
            <option value=""></option>
            <% if(order.media_contact_unknown) { %>
              <option value="" selected="selected"><%= order.media_contact_name %></option>
            <% } %>
            <% _.each(order.media_contacts, function(mc) { %>
            <option value="<%= mc.id %>|<%= mc.email %>|<%= mc.phone %>" <%= mc.name == order.media_contact_name ? 'selected="selected"' : '' %>><%= mc.name %></option>
            <% }); %>
          </select>
          <% } else { %>
          <span class="editable typeahead" data-type="typeahead" data-pk="1" data-name="media_contact_name"><%= order.media_contact_name %></span>
          <% } %>
          <div class="errors_container">
          <% if (order.media_contact_name == "") { %>
            Validation failed: Name can't be blank
          <% } %>
          </div>
        </div>

        <div class="field media-contact-company">
          <p>Company</p>
          <span class="editable typeahead" data-type="typeahead" data-pk="1" data-name="media_contact_company"><%= order.reach_client_name %></span>
        </div>

        <div class="field media-contact-phone">
          <p>Phone</p>
          <span class="editable" data-type="text" data-pk="1" data-name="media_contact_phone"><%= order.media_contact_phone %></span>
        </div>

        <div class="field media-contact-email">
          <p>Email</p>
          <span class="editable typeahead" data-type="typeahead" data-pk="1"  data-name="media_contact_email"><%= order.media_contact_email %></span>
        </div>
      </div>

      <div class="pure-u-1-3">
        <div class="field account-contact-name <% if(order.account_contact_unknown) { %> field_with_errors <% } %>">
          <p>
            <span style="float:right">Account Contact</span>
            <span class="account-contact-icon pull-right" title="Account Manager"></span>
            <% if(order.account_contact_unknown) { %>
            <span class="contact-unknown-icon pull-left" title="Account Manager is not found in existing contacts"></span>
            <% } %>
          </p>

          <% if(order.reachui_users) { %>
          <select>
            <option value=""></option>
            <% if(order.account_contact_unknown) { %>
              <option value="" selected="selected"><%= order.account_contact_name %></option>
            <% } %>
            <% _.each(order.reachui_users, function(u) { %>
            <option value="<%= u.id %>|<%= u.email %>|<%= u.phone %>" <%= u.name == order.account_contact_name ? 'selected="selected"' : '' %>><%= u.name %></option>
            <% }); %>
          </select>
          <% } else { %>
          <span class="editable typeahead" data-type="typeahead" data-pk="1" data-name="account_contact_name"><%= order.account_contact_name %></span>
          <% } %>

          <div class="errors_container">
          <% if(order.account_contact_unknown) { %>
            This account manager is not associated with current Reach Client
          <% } else if(order.account_contact_name == "") { %>
            Validation failed: Name can't be blank
          <% } %>
          </div>
        </div>

        <div class="field account-contact-phone">
          <p>Phone</p>
          <span class="editable" data-type="text" data-pk="1" data-name="account_contact_phone"><%= order.account_contact_phone %></span>
        </div>

        <div class="field account-contact-email">
          <p>Email</p>
          <span class="editable" data-type="typeahead" data-pk="1" data-name="account_contact_email"><%= order.account_contact_email %></span>
        </div>

        <div class="field billing-contact-name">
          <p>
            <span style="float:right">Billing Contact</span>
            <span class="billing-contact-icon pull-right" title="Billing Contact"></span>
            <% if(order.billing_contact_unknown) { %>
            <span class="contact-unknown-icon pull-left" title="Billing Contact is not found in existing contacts"></span>
            <% } %>
          </p>
          <% if(order.billing_contacts) { %>
          <select>
            <option value=""></option>
            <% if(order.billing_contact_unknown) { %>
              <option value="" selected="selected"><%= order.billing_contact_name %></option>
            <% } %>
            <% _.each(order.billing_contacts, function(bc) { %>
            <option value="<%= bc.id %>|<%= bc.email %>|<%= bc.phone %>" <%= bc.name == order.billing_contact_name ? 'selected="selected"' : '' %>><%= bc.name %></option>
            <% }); %>
          </select>
          <% } else { %>
          <span class="editable typeahead" data-type="typeahead" data-pk="1" data-name="billing_contact_name"><%= order.billing_contact_name %></span>
          <% } %>
          <div class="errors_container">
          <% if (order.billing_contact_name == "") { %>
            Validation failed: Name can't be blank
          <% } %>
          </div>
        </div>
        <div class="field billing-contact-company">
          <p>Company</p>
          <span class="editable typeahead" data-type="typeahead" data-pk="1" data-name="billing_contact_company"><%= order.reach_client_name %></span>
          <div class="errors_container">
          <% if (_.isEmpty(order.reach_client_name)) { %>
            should be specified
          <% } %>
          </div>
        </div>
        <div class="field billing-contact-phone">
          <p>Phone</p>
          <span class="editable" data-type="text" data-pk="1" data-name="billing_contact_phone"><%= order.billing_contact_phone %></span>
        </div>
        <div class="field billing-contact-email">
          <p>Email</p>
          <span class="editable typeahead" data-type="typeahead" data-pk="1" data-name="billing_contact_email"><%= order.billing_contact_email %></span>
        </div>
      </div>
    </div>
  </div>

  <div class="toggle-general-info-button">
    ^ Hide General Information ^
  </div>
</div>
