<div class="new-order-header">
  <div style="float:left">
    <p class="heading"><%= order.name %></p> 
    <p class="adv-name">TWCBusiness</p>
  </div>

  <div class="current-io-status-top">
    Draft
  </div>

  <div class="clearfix"></div>

  <div class="imported-file-name">
    <div class="name">
      Imported File
      <span><%= order.io_asset_filename %></span>
    </div>
    <div class="timestamp">
      <%= order.io_asset_created_at %>
    </div>
  </div>

  <div class="field account-manager-container">
    <span>Account Manager</span>
    <span class="editable typeahead" data-type="typeahead" data-pk="1" data-url="/account_managers">Alexandra Piechota</span>
  </div>

  <div class="field trafficker-container">
    <span>Trafficker</span>
    <span class="editable typeahead" data-type="typeahead" data-pk="1" data-url="/traffickers">Senthil Pandian</span>
  </div>

  <div class="clearfix"></div>

  <div class="general-info-container pure-g">
    <div class="columns">
      <div class="pure-u-1-3">
        <div class="field network">
          <span>Network</span>
          <span>AMP Network CORE</span>
        </div>
        <div class="field advertiser-name">
          <span>Advertiser / Network</span>
          <span>
            <select data-placeholder="<%= order.advertiser_name %>" style="width:200px;" class="chosen-select">
              <% for(var i = 0; i < order.possible_advertisers.length; i++) { %>
              <option value="<%= order.possible_advertisers[i][0] %>"><%= order.possible_advertisers[i][0] %> / <%= order.possible_advertisers[i][1] %></option>
              <% } %>
            </select>
          </span>
        </div>
        <div class="field advertiser-name">
          <span>Client's Advertiser Name</span>
          <span><%= order.client_advertiser_name %></span>
        </div>
        <div class="field order-name">
          <span>Order Name</span>
          <span class="editable" data-type="text" data-pk="1" data-name="order_name" data-url="/orders/<%= order.id %>"><%= order.name %></span>
        </div>
        <div class="field client-order-id">
          <span>Client Order ID</span>
          <span><%= order.id %></span>
        </div>
        <div class="field start-date">
          <span>Start Date</span>
          <span class="editable date" data-type="date" data-pk="1" data-name="start_date" data-url="/orders/<%= order.id %>"><%= order.start_date %></span>
        </div>
        <div class="field end-date">
          <span>End Date</span>
          <span class="editable date" data-type="date" data-pk="1" data-name="end_date" data-url="/orders/<%= order.id %>"><%= order.end_date %></span>
        </div>
        <div class="field total-media-cost">
          <span>Total Media Cost</span>
          <span class="editable custom" data-type="text" data-pk="1" data-name="total_media_cost" data-url="/orders/<%= order.id %>">0</span>
        </div>
      </div>

      <div class="pure-u-1-3">
        <div class="field salesperson-name">
          <span>Salesperson</span>
          <span class="editable typeahead" data-name="salesperson_name" data-pk="1" data-type="typeahead" data-pk="1" data-url="/orders/<%= order.id %>">Eric Burns</span>
        </div>
        <div class="field salesperson-phone">
          <span>Phone</span>
          <span class="editable" data-type="text" data-pk="1" data-name="salesperson_phone" data-url="/orders/<%= order.id %>">919-604-4451</span>
        </div>
        <div class="field salesperson-email">
          <span>Email</span>
          <span class="editable typeahead" data-type="typeahead" data-pk="1" data-name="salesperson_email" data-url="/orders/<%= order.id %>">eric@collective.com</span>
        </div>

        <div class="field media-contact-name">
          <span>Media Contact</span>
          <span class="editable typeahead" data-type="typeahead" data-pk="1" data-name="media_contact_name" data-url="/orders/<%= order.id %>">Mary Ball</span>
        </div>
        <div class="field media-contact-company">
          <span>Company</span>
          <span class="editable typeahead" data-type="typeahead" data-pk="1" data-name="media_contact_company" data-url="/orders/<%= order.id %>">Time Warner Cable</span>
        </div>
        <div class="field media-contact-phone">
          <span>Phone</span>
          <span class="editable" data-type="text" data-pk="1" data-name="media_contact_phone" data-url="/orders/<%= order.id %>">704-973-7508</span>
        </div>
        <div class="field media-contact-email">
          <span>Email</span>
          <span class="editable typeahead" data-type="typeahead" data-pk="1"  data-name="media_contact_email" data-url="/orders/<%= order.id %>">digital.services@twcable.com</span>
        </div>
      </div>

      <div class="pure-u-1-3">
        <div class="field account-contact-name">
          <span>Account Contact</span>
          <span class="editable typeahead" data-type="typeahead" data-pk="1" data-name="account_contact_name" data-url="/orders/<%= order.id %>">Alexandra Piechota</span>
        </div>
        <div class="field account-contact-phone">
          <span>Phone</span>
          <span  class="editable" data-type="text" data-pk="1" data-name="account_contact_phone" data-url="/orders/<%= order.id %>">646-786-6701</span>
        </div>
        <div class="field account-contact-email">
          <span>Email</span>
          <span class="editable typeahead" data-type="typeahead" data-pk="1" data-name="account_contact_email" data-url="/orders/<%= order.id %>">ampnetwork@collective.com</span>
        </div>

        <div class="field billing-contact-name">
          <span>Billing Contact</span>
          <span class="editable typeahead" data-type="typeahead" data-pk="1" data-name="billing_contact_name" data-url="/orders/<%= order.id %>">Bryan Snyder</span>
        </div>
        <div class="field billing-contact-company">
          <span>Company</span>
          <span class="editable typeahead" data-type="typeahead" data-pk="1" data-name="billing_contact_company" data-url="/orders/<%= order.id %>">Time Warner Cable</span>
        </div>
        <div class="field billing-contact-phone">
          <span>Phone</span>
          <span class="editable" data-type="text" data-pk="1" data-name="billing_contact_phone" data-url="/orders/<%= order.id %>">(704) 973-7346</span>
        </div>
        <div class="field billing-contact-email">
          <span>Email</span>
          <span class="editable typeahead" data-type="typeahead" data-pk="1" data-name="billing_contact_email" data-url="/orders/<%= order.id %>">digital.services@twcable.com</span>
        </div>
      </div>
    </div>
  </div>

  <div class="toggle-general-info-button">
    ^ Hide General Information ^
  </div>
</div>  
