.campaign-list-container{"ng-view" => ""}
.loading-spinner-holder.loader

= render_view_js_template "campaign_list"
= render_view_js_template "campaign_details"
= render_view_js_template "campaign_filters"
= render_view_js_template "campaign_list_filters"
= render_view_js_template "campaign_cost_filters"
= render_view_js_template "campaign_dashboard"
= render_view_js_template "campaign_card"
= render_view_js_template "campaign_cost_card"
= render_view_js_template "campaign_strategy_card"
= render_view_js_template "campaign_tactics_card"
= render_view_js_template "optimization"
= render_view_js_template "inventory"
= render_view_js_template "viewability"
= render_view_js_template "cost"
= render_view_js_template "performance"
= render_view_js_template "reports_performance"

