<td>
  <%= report_schedule.title %>
</td>
<td>
  <%= report_schedule.report_start_date %>
</td>
<td>
  <%= report_schedule.report_end_date %>
</td>
<td>
  <%= report_schedule.recalculate_dates %>
</td>
<td>
  <%= report_schedule.status %>
</td>
<td>
  <%= report_schedule.updated_at %>
</td>
<td>
  <%= report_schedule.created_at %>
</td>
<td class="text-center">
  <i class="icon-edit"></i>
  <i class="icon-remove"></i>
</td>