<div class="task-row pure-g-r">
  <% if(context == ReachActivityTaskApp.Entities.TaskPageContext.VIEW.TEAM) { %>
    <div class="task-comment pure-u-1-24">
        <% var task_comment_icon = important ? "alert-icon" : "comment-icon" %>
        <!-- As we have to show comment icon where the comment size is zero also -->
      <span class="<%= task_comment_icon %> icon-wrapper">
        <sup class="task-badge"><%= comments_size %></sup>
      </span>
    </div>
    <div class="task-type pure-u-1-24 center">
        <% task_icon_class = task_state == "complete" ? "task_done-icon" : (task_state == "close" ? "checkmark-icon" : "task_open-icon") %>
        <div class="<%= task_icon_class %>"></div>
    </div>
    <div class="pure-u-1-4 task-name">
        <%= name %>
    </div>
    <div class="pure-u-1-12 task-time text-left">
        <%= important ? 'ASAP' : due_date %>
    </div>
    <!-- Follow icon is not required in the first phase -->
    <!--<div class="pure-u-1-24 center">
      <div class="follow-icon"></div>
    </div>-->
    <div class="pure-u-1-8 text-left">
        <i class="crown-icon"></i>
        <%= requested_by == undefined ? created_by : requested_by%>
    </div>
    <div class="pure-u-1-8 text-left">
        <i class="user-icon"></i>
        <select name="assignee_id" id="assigneeSelector" class="selectpicker" <%= task_state == 'close' ? 'disabled="disabled"' : '' %>>
            <option value="<%= assignable_id %>"><%= assignable_name %></option>
        </select>
    </div>
    <% if(order_name) { %>
    <div class="pure-u-1-4 text-left">
        <a href="/orders/<%= order_id %>"><%= order_name%></a>
    </div>
    <% } else { %>
    <div class="pure-u-1-4 text-left <%= id %>-order-name">
      <span class="editable typeahead custom" data-type="typeahead" data-pk="<%= id %>" data-name="order_id" data-mode="inline" data-inputclass="wide-editable-text">No order</span>
    </div>
    <% } %>
  <%} else if(context == ReachActivityTaskApp.Entities.TaskPageContext.VIEW.TEAM_USER) { %>
    <div class="task-comment pure-u-1-24">
        <% var task_comment_icon = important ? "alert-icon" : "comment-icon" %>
        <!-- As we have to show comment icon where the comment size is zero also -->
      <span class="<%= task_comment_icon %> icon-wrapper">
        <sup class="task-badge"><%= comments_size %></sup>
      </span>
    </div>
    <div class="task-type pure-u-1-24 center">
        <% task_icon_class = task_state == "complete" ? "task_done-icon" : (task_state == "close" ? "checkmark-icon" : "task_open-icon") %>
        <div class="<%= task_icon_class %>"></div>
    </div>
    <div class="pure-u-1-4 task-name">
        <%= name %>
    </div>
    <div class="pure-u-1-12 task-time text-left">
        <%= important ? 'ASAP' : due_date %>
    </div>
    <!-- Follow icon is not required in the first phase -->
    <!--<div class="pure-u-1-24 center">
      <div class="follow-icon"></div>
    </div>-->
    <div class="pure-u-1-8 text-left">
        <i class="crown-icon"></i>
        <%= requested_by == undefined ? created_by : requested_by%>
    </div>
    <div class="pure-u-1-8 text-left">
        <i class="user-icon"></i>
        <%= assignable_name %>
    </div>
    <% if(order_name) { %>
    <div class="pure-u-1-4 text-left">
        <a href="/orders/<%= order_id %>"><%= order_name%></a>
    </div>
    <% } else { %>
    <div class="pure-u-1-4 text-left">
        No order
    </div>
    <% } %>
  <% } %>
</div>
