- @platforms.each do |platform|
  %tr
    %td= platform.name
    %td= link_to platform.media_type.category, edit_admin_platform_path(platform)
    %td= platform.dfp_key
    %td= platform.site.name
    %td= platform.naming_convention
    %td= platform.ad_type
    %td= platform.priority
    %td
      -if platform.enabled
        Yes
      -else
        No
