<div class="pure-u-1-24 delete-btn-container" style="width:4.5%;">
  <% if(isNaN(parseInt(creative.source_id))) { %>
  <div class="delete-btn pull-left" style="display:none;" title="Delete"></div>
  <% } else { %>
  <div class="dfp-success"></div>
  <% } %>
  <% if (creative.ad_type == 'Video') { %>
       <span id="caution-symbol" title="Creative for video ads will not push to DFP" class="video-creatives-caution exclaim-yellow-icon pull-right"></span>
  <% } %>
</div>

<div class="pure-u-1-12 start-date">
  <span class="editable date custom" data-type="date" data-name="start_date" data-date-format="yyyy-mm-dd" data-pk="1" data-value="<%= creative.start_date %>"><%= creative.start_date || 'From LI' %></span>

  <div class="creative-<%= creative.id %> assignment-<%= creative.li_assignment_id %> assignment-<%= creative.ad_assignment_id %> pushing-status" style="clear:both;margin-top:5px;">
    <% if(!isNaN(parseInt(creative.source_id))) { %>
      <%= creative.source_id %>
    <% } %>
  </div>
  <div class="errors_container"></div>
</div>

<% wrong_end_date = creative.start_date > creative.end_date %>
<div class="pure-u-1-12 end-date">
  <span class="editable date custom" data-type="date" data-name="end_date" data-date-format="yyyy-mm-dd" data-pk="1" data-value="<%= creative.end_date %>"><%= creative.end_date || 'From LI' %></span>
  <div class="errors_container">
    <% if (wrong_end_date) { %>
    couldn't be before start date
    <% } %>
  </div>
</div>

<div class="pure-u-1-6 size number-field" style="width:12%">
  <span class="editable custom typeahead" data-type="typeahead" data-name="ad_size" data-pk="1"><%= creative.ad_size %></span>
  <div class="errors" style="clear:both"></div>
</div>

<% if((creative.html_code && creative.html_code_excerpt) || creative.creative_type == "ThirdPartyCreative"){ %>
<div class="pure-u-1-2 javascript-code">
  <span class="editable custom" data-type="textarea" data-rows="10" data-value="<%= creative.html_code %>"><%= creative.html_code_excerpt %></span>
</div>
<% } else { %>
<div class="pure-u-1-2 image-url">
  <span class="editable" data-type="textarea" data-pk="1" data-name="redirect_url" data-inputclass="wide-editable-text"><%= creative.redirect_url %></span>
</div>
<% } %>

<div class="pure-u-1-24 creative-type">
  <span class="editable" data-name="creative_type" data-type="select" data-source="[{value: 'ThirdPartyCreative', text: 'Third Party'}, {value: 'InternalRedirectCreative', text: 'Inred'}]" data-value="<%= creative.creative_type %>"><%= creative.creative_type == "ThirdPartyCreative" ? "Third Party" : "Inred" %></span>
</div>

<div class="pure-u-1-12 client-ad-id number-field"><span><%= creative.client_ad_id %></span></div>
