<div class="pure-u-1-24 delete-btn-container">
  <div class="delete-btn" style="display:none;" title="Delete"></div>
</div>

<div class="pure-u-1-12 start-date">
  <span class="editable date custom" data-type="date" data-name="start_date" data-date-format="yyyy-mm-dd" data-pk="1"><%= creative.start_date %></span>
</div>

<div class="pure-u-1-12 end-date">
  <span class="editable date custom" data-type="date" data-name="end_date" data-date-format="yyyy-mm-dd" data-pk="1"><%= creative.end_date %></span>
</div>

<div class="pure-u-1-6 size">
  <span class="editable custom typeahead" data-type="typeahead" data-name="ad_size" data-pk="1">
    <%= creative.ad_size %>
  </span>
  <div class="errors" style="clear:both"></div>
</div>

<div class="pure-u-1-2 image-url">
  <span class="editable" data-type="text" data-pk="1" data-name="redirect_url"><%= creative.redirect_url %></span>
</div>
  
<div class="pure-u-1-12 client-ad-id"><span class="editable" data-type="text" data-pk="1" data-name="source_ui_creative_id"><%= creative.source_ui_creative_id %></span></div>
