<div class="li-table">
  <div class="li-row">
    <div class="pure-u-1-12 li-number <%= lineitem.active === true ? 'active':'inactive' %>" style="height:85px;">
      <span>Contract LI</span>
      <div style="clear:both"></div>
      <span class="number"><%= lineitem.alt_ad_id || lineitem.itemIndex %></span><br/>
    </div>

    <div class="pure-u-1-12 start-date">
      <span class="editable custom">
        <%= lineitem.start_date %>
      </span>
      <% if(lineitem.dfp_url && lineitem.dfp_url != '') { %>
        <div class="client-id-basic">Client Id: <a href="<%= lineitem.dfp_url %>" target="_blank"><%= lineitem.li_id %></a></div>
      <% } else if(lineitem.li_id && lineitem.li_id!="") {%>
        <div class="client-id">Client Id: <%= lineitem.li_id %></div>
      <% } %>
    </div>

    <div class="pure-u-1-12 end-date">
      <span class="editable custom">
        <%= lineitem.end_date %>
      </span>
    </div>

    <div class="pure-u-1-6 lineitem-sizes">
      <div class="<%= lineitem.type ? lineitem.type.toLowerCase() : 'display' %>-icon pull-left" title="Media Type"></div>
      <span class="editable">
        <% if (lineitem.type == 'Video') { %>
          Pre-roll
          <% if (lineitem.companion_ad_size) { %>
          with Companion
          <% } %>
          <%= lineitem.master_ad_size.replace(/,/gi, ', ') %>
          <% if (lineitem.companion_ad_size) { %>
            <%= lineitem.companion_ad_size.replace(/,/gi, ', ') %>
          <% } %>
        <% } else { %>
          <%= lineitem.ad_sizes.replace(/,/gi, ', ') %>
        <% } %>
      </span>
      <br/>
      <% if (lineitem.creatives.length > 0) { %>
        <span class="toggle-creatives-btn operation">Show Creatives (<%= lineitem.creatives.length %>)</span>
      <% } %>
    </div>

    <div class="pure-u-1-3 name">
      <span class="editable" data-type="text" data-name="name" data-pk="1" data-inputclass="wide-editable-text">
        <%= lineitem.name %>
      </span>

      <% if(lineitem.notes) { %>
        <div style="clear:both"></div>
        <span class="notes">
          <%= lineitem.notes %>
        </span>
      <% } %>

    </div>

    <div class="pure-u-1-12 volume number-field">
      <span class="editable">
        <%= accounting.formatNumber(lineitem.volume) %>
      </span>
      <div class="errors_container"></div>
    </div>
    <div class="pure-u-1-12 rate number-field">
      $<span class="editable">
        <%= accounting.formatMoney(lineitem.rate, '') %>
      </span>
    </div>

    <div class="pure-u-1-12 media-cost number-field">
      <span class="number-value">
        $<span><%= accounting.formatMoney(lineitem.value, '') %></span>
      </span>
    </div>
  </div>
  <div class="pure-u-1 lineitem-status <%= lineitemStatusClass() %>" title="<%= lineitem.li_status%>">
    <%=lineitem.li_status%>
  </div>
</div>

<div class="creatives-list-view" style="display:none"></div>
<div style="clear:both"></div>
