<td class="<%= lineitem.active === true ? 'active':'inactive' %>"><i class="icon-circle"></i></td>
<td class="name"><%= lineitem.name %></td>
<td class="start_date"><%= lineitem.start_date %></td>
<td class="end_date"><%= lineitem.end_date %></td>
<td class="volume"><%= lineitem.volume %></td>
<td class="rate"><%= lineitem.rate %></td>
