<div class="control-group" id="name_group">
  <label class="control-label" for="name">Name</label>
  <div class="controls">
    <input type="text" id="name" placeholder="Lineitem name" value="<%= lineitem.name %>" required>
    <label class="help-inline form-error" id="name_error"></label>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="active">Active</label>
  <div class="controls">
    <input type="checkbox" id="active" <%= lineitem.active ? "checked" : '' %>>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="flight">Flight Dates</label>
  <div class="controls">
    <span class="flight-input">
      <i class="icon-calendar"></i>
      <span id="flight"></span>
      <b class="caret"></b>
    </span>
    <input type="hidden" id="start_date" placeholder="Start date" value="<%= lineitem.start_date %>">
    <input type="hidden" id="end_date" placeholder="End date" value="<%= lineitem.end %>">
    <label class="help-inline form-error" id="start_date_error"></label>
    <label class="help-inline form-error" id="end_date_error"></label>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="volume">Impressions</label>
  <div class="controls">
    <input type="text" id="volume" class="volume-input" placeholder="Volume" value="<%= lineitem.volume %>" required>
    <label class="help-inline form-error" id="volume_error"></label>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="rate">CPM</label>
  <div class="controls">
    <div class="input-prepend">
      <span class="add-on"><i class="icon-usd"></i></span>
      <input type="text" id="rate" class="rate-input" placeholder="Rate" value="<%= lineitem.rate %>" required>
      <label class="help-inline form-error" id="rate_error"></label>
    </div>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="rate">Media Cost</label>
  <div class="controls">
    <div class="input-prepend">
      <span class="add-on"><i class="icon-usd"></i></span>
      <input type="text" id="media_cost" class="rate-input" value="<%= lineitem.media_cost %>" disabled>
    </div>
  </div>
</div>

