- @block_violations.each do |block_violations|
  %tr
    %td= format_datetime(block_violations.created_at)
    %td= block_violations.try(:advertiser).try(:name)
    %td= block_violations.try(:site).try(:name)
    %td= block_violations.block_tool_state
    %td= block_violations.dfp_state
    %td= block_violations.try(:ad).try(:description)
    %td= block_violations.ad_id
    %td= block_violations.try(:ad).try(:order).try(:name)
    %td= block_violations.try(:ad).try(:order).try(:id)