%div
  = link_to "Create new Reach client", new_admin_reach_client_path, class: 'btn'

%table
  %thead
    %tr
      %th Name
      %th Abbr
      %th Media Contact
      %th Billing Contact
      %th Sales Person
      %th Account Manager
      %th Trafficker
  - @reach_clients.each do |client|
    %tr
      %td= link_to client.name, edit_admin_reach_client_path(client)
      %td= client.abbr
      %td= client.media_contacts.name
      %td= client.billing_contacts.name
      %td= client.sales_person.first_name
      %td= client.account_manager.first_name
      %td= client.trafficker.first_name