%div.top-headers
  = link_to "Create new Reach client", new_admin_reach_client_path, class: 'btn'

%table.admin-reach-table
  %thead
    %tr
      %th
        .pure-g.header-container
          .pure-u.title-container
            .title
              Name
          .pure-u
            #title.actions-container
              %i.icon-sort
      %th
        .pure-g.header-container
          .pure-u.title-container
            .title
              Abbr
          .pure-u
            #title.actions-container
              %i.icon-sort
      %th
        .pure-g.header-container
          .pure-u.title-container
            .title
              Media Contact
          .pure-u
            #title.actions-container
              %i.icon-sort
      %th
        .pure-g.header-container
          .pure-u.title-container
            .title
              Billing Contact
          .pure-u
            #title.actions-container
              %i.icon-sort
      %th
        .pure-g.header-container
          .pure-u.title-container
            .title
              Sales Person
          .pure-u
            #title.actions-container
              %i.icon-sort
      %th
        .pure-g.header-container
          .pure-u.title-container
            .title
              Account Manager
          .pure-u
            #title.actions-container
              %i.icon-sort
      %th
        .pure-g.header-container
          .pure-u.title-container
            .title
              Trafficker
          .pure-u
            #title.actions-container
              %i.icon-sort
  - @reach_clients.each do |client|
    %tr
      %td= link_to client.name, edit_admin_reach_client_path(client)
      %td= client.abbr
      %td= client.media_contact ? client.media_contact.name : ''
      %td= client.billing_contact ? client.billing_contact.name : ''
      %td= "#{client.sales_person.first_name} #{client.sales_person.last_name}"
      %td= "#{client.account_manager.first_name} #{client.account_manager.last_name}"
      %td= "#{client.trafficker.first_name} #{client.trafficker.last_name}"