<div class="pure-u-1-24 buttons-container">
  <div class="clone-btn" title="Clone"></div>
  <br/>
  <% if(isNaN(parseInt(ad.source_id))) { %>
  <div class="delete-btn" style="display:none;" title="Delete"/>
  <% } %>
</div>

<div class="pure-u-1-24 ad-name">
  Ad
  <% if(!isNaN(parseInt(ad.source_id))) { %>
    <div class="dfp-success"></div>
  <% } %>
</div>

<div class="pure-u-1-6">
  <% var wrong_start_date = !ad.order_id && moment(ReachUI.currentTimeWithOffset("-5h")).format("YYYY-MM-DD") > ad.start_date; %>
  <div class="pure-u-1-2 start-date pull-left<% if (wrong_start_date) { %> field_with_errors<% } %>">
    <span class="editable date custom" data-type="date" data-name="start_date" data-date-format="yyyy-mm-dd" data-pk="1">
      <%= ad.start_date %>
    </span>
    <div class="errors_container">
      <% if (wrong_start_date) { %>
        Start date cannot be in the past
      <% } %>
    </div>
  </div>


  <% wrong_end_date = !ad.order_id && moment(ReachUI.currentTimeWithOffset("-5h")).format("YYYY-MM-DD") > ad.end_date %>
  <div class="pure-u-1-2 end-date pull-left<% if (wrong_end_date) { %> field_with_errors<% } %>">
    <span class="editable date custom" data-type="date" data-name="end_date" data-date-format="yyyy-mm-dd" data-pk="1">
      <%= ad.end_date %>
    </span>
    <div class="errors_container">
      <% if (wrong_end_date) { %>
        End date cannot be in the past
      <% } %>
    </div>
  </div>

  <div class="ad-<%= ad.id %> pushing-status" style="clear:both">
    <% if(!isNaN(parseInt(ad.source_id))) { %>
      <div class="dfp-success"></div> 
      <a href="<%= ad.dfp_url %>" target="_blank"><%= ad.source_id %></a>
    <% } %>
  </div>
</div>

<div class="pure-u-1-6 size">
  <span class="ads-sizes"><%= ad.size %></span>
  <br/>
  <span class="toggle-ads-creatives-btn operation">Edit Creatives (<%= ad.creatives.length %>)</span>
</div>

<div class="pure-u-1-3 name">
  <span class="editable" data-type="text" data-pk="1" data-inputclass="wide-editable-text" data-name="description">
    <%= ad.description %>
  </span>
  <div class="errors_container" style="clear:both"></div>
  <br/>
  <span class="toggle-ads-targeting-btn operation">+ Add Targeting</span>
  <div class="targeting_options_condensed" style="clear:both"></div>
</div>
  
<div class="pure-u-1-12 volume number-field">
  <span class="editable custom" data-type="text" data-name="volume" data-pk="1">
    <%= accounting.formatNumber(ad.volume) %>
  </span>
  <div class="errors_container" style="clear:both"></div>
</div>

<div class="pure-u-1-12 rate number-field">
  $ <span class="editable custom" data-type="text" data-name="rate" data-pk="1">
    <%= accounting.formatMoney(ad.rate, '') %>
  </span>
  <div class="errors_container"></div>
</div>

<div class="pure-u-1-12 media-cost number-field">
  <span class="number-value">
    $ <span><%= accounting.formatMoney(ad.value, '') %></span>
  </span>
  <div class="errors_container"></div>
</div>

<div class="targeting-container" style="display:none">
</div>

<div class="ads-creatives-list-view" style="display:none">
</div>
