<div class="pure-u-1-24 clone_btn">
  <img src="/assets/clone_btn.png" alt="Clone"/>
  <br/>
  <img src="/assets/delete_btn.png" class="delete_btn" style="display:none;margin-top:10px;" alt="Delete"/>
</div>

<div class="pure-u-1-24 ad_name">Ad</div>

<div class="pure-u-1-12 start-date">
  <span class="editable date custom" data-type="date" data-name="start_date" data-date-format="yyyy-mm-dd" data-pk="1"><%= ad.start_date %></span>
</div>

<div class="pure-u-1-12 end-date">
  <span class="editable date custom" data-type="date" data-name="end_date" data-date-format="yyyy-mm-dd" data-pk="1"><%= ad.end_date %></span>
</div>

<div class="pure-u-1-6 size">
  <span class="editable" data-type="text" data-name="size" data-pk="1">
    <%= ad.size %>
    <div class="errors" style="clear:both"></div>
  </span>
  <br/>
  <span class="edit_creatives operation">Edit Creatives</span>
</div>

<div class="pure-u-1-3 name">
  <span class="editable" data-type="text" data-pk="1" data-name="description"><%= ad.description %></span>
  <br/>
  <span class="add_targeting operation">+ Add Targeting</span>
  <div class="targeting_options_condensed" style="clear:both"></div>
</div>
  
<div class="pure-u-1-12 volume"><span class="editable" data-type="text" data-pk="1"><%= accounting.formatNumber(ad.volume) %></span></div>

<div class="pure-u-1-12 rate"><span class="editable" data-type="text" data-pk="1"><%= accounting.formatMoney(ad.rate) %></span></div>

<div class="pure-u-1-12 media-cost"><span class="editable custom" data-type="text" data-pk="1"><%= accounting.formatMoney(ad.cost) %></span></div>

<div class="targeting-container" style="display:none">
</div>
