<div class="ad-table">
  <div class="ad-row">
    <div class="pure-u-1-24 buttons-container">
      <% if(isNaN(parseInt(ad.source_id))) { %>
      <div class="delete-btn pull-left" style="display:none;" title="Delete"/>
      <% } %>
    </div>

    <div class="pure-u-1-24 ad-name item-selection">
      Ad
      <div class="item-icon">
        <span class="<%=ad.type.toLowerCase() %>-icon centered-icon"></span>
      </div>
      <% if(ad.platform_id) { %>
        <a href="javascript:void(0)" class="tag-icon" data-toggle="tooltip" data-placement="right" title="<%= ad.platform_name %>"></a>
      <% } %>
    </div>

   <div class="pure-u-1-6">
      <% wrong_start_date = !ad.order_id && moment(ReachUI.currentTimeWithOffset("-5h")).format("YYYY-MM-DD") > ad.start_date; %>
      <div class="pure-u-1-2 start-date pull-left<% if (wrong_start_date) { %> field_with_errors<% } %>">
        <span class="editable date custom" data-type="date" data-name="start_date" data-date-format="yyyy-mm-dd" data-pk="1">
          <%= ad.start_date %>
        </span>
        <div class="errors_container">
          <% if (wrong_start_date) { %>
            Start date cannot be in the past
          <% } %>
        </div>
      </div>

      <% wrong_end_date = !ad.order_id && moment(ReachUI.currentTimeWithOffset("-5h")).format("YYYY-MM-DD") > ad.end_date %>
      <div class="pure-u-1-2 end-date pull-left<% if (wrong_end_date) { %> field_with_errors<% } %>">
        <span class="editable date custom" data-type="date" data-name="end_date" data-date-format="yyyy-mm-dd" data-pk="1">
          <%= ad.end_date %>
        </span>
        <div class="errors_container">
          <% if (wrong_end_date) { %>
            End date cannot be in the past
          <% } %>
        </div>
      </div>

      <div class="ad-<%= ad.id %> pushing-status" style="clear:both">
        <% if(!isNaN(parseInt(ad.source_id))) { %>
          <div class="dfp-success"></div>
          <a href="<%= ad.dfp_url %>" target="_blank"><%= ad.source_id %></a>
        <% } %>
        <% if(ad.status) { %>
          <div class="ad-status-container <%= adStatusClass() %>">
            <span class="ad-status-icon"></span>
            <span class="ad-status-label"> <%= ad.status %> </span>
          </div>
        <% } else { %>
          <div class="ad-status-container ad-status-draft">
            <span class="ad-status-icon"></span>
            <span class="ad-status-label"> Draft </span>
          </div>
        <% } %>
      </div>
    </div>

    <div class="pure-u-1-6 size">
      <span class="ads-sizes"><%= ad.size.replace(/,/gi, ', ') %></span>
      <br/>
      <span class="toggle-ads-creatives-btn operation pull-left"><span class="pencil-icon"></span>Edit Creatives (<%= ad.creatives.length %>)</span>
      <% if (ad.type == 'Video' && ad.creatives.length > 0) { %>
           <span id="caution-symbol-ad" data-toggle="tooltip" data-trigger="click hover" title="Creative for video ads will not push to DFP" class="video-creatives-caution exclaim-yellow-icon pull-left"></span>
      <% } else { %>
           <span id="caution-symbol-ad" data-toggle="tooltip" data-trigger="click hover" title="Creative for video ads will not push to DFP" class="video-creatives-caution exclaim-yellow-icon pull-left" style="display:none"></span>
      <% } %>
    </div>

    <div class="pure-u-1-3 name">
      <span class="editable" data-type="text" data-pk="1" data-inputclass="wide-editable-text" data-name="description">
        <%= ad.description %>
      </span>
      <div class="errors_container"></div>
      <br/>
      <span class="toggle-ads-targeting-btn operation">+ Add Targeting</span>

      <div class="targeting_options_condensed" style="clear:both"></div>

      <% var targeting = ad.targeting.attributes;
         if(targeting.selected_geos.length == 0 && targeting.selected_zip_codes.length == 0) { %>
           <span id="caution-symbol" data-toggle="tooltip" data-trigger="click hover" title="Missing Geo-targeting" class="missing-geo-caution exclaim-red-icon pull-left"></span>
      <% } else { %>
           <span id="caution-symbol" data-toggle="tooltip" data-trigger="click hover" title="Missing Geo-targeting" class="missing-geo-caution exclaim-red-icon pull-left" style="display:none"></span>
      <% } %>
    </div>

    <div class="pure-u-1-12 volume number-field">
      <span class="editable custom" data-type="text" data-name="volume" data-pk="1">
        <%= accounting.formatNumber(ad.volume) %>
      </span>
      <div class="errors_container" style="clear:both"></div>
    </div>

    <div class="pure-u-1-12 rate number-field">
      $ <span class="editable custom" data-type="text" data-name="rate" data-pk="1">
        <%= accounting.formatMoney(ad.rate, '') %>
      </span>
      <div class="errors_container"></div>
    </div>

    <div class="pure-u-1-12 media-cost number-field">
      <span class="number-value">
        $ <span><%= accounting.formatMoney(ad.value, '') %></span>
      </span>
      <div class="errors_container"></div>
    </div>
  </div>
</div>

<div style="clear:both"></div>
<div class="targeting-container" style="display:none">
</div>
<div style="clear:both"></div>

<div class="ads-creatives-list-view" style="display:none">
</div>
<div style="clear:both"></div>

<div class="ad-copy-targeting-btn dropdown" style="display:none">
  <div data-toggle="dropdown" id="copyTargeting">Copy</div>
    <ul class="dropdown-menu copy-targeting-dropdown list-inline" role="menu" aria-labelledby="copyTargeting">
      <li role="presentation"><a class="copy-targeting-item" role="menuitem" tabindex="-1" href="javascript:void(0)" data-type="key_values">KVs</a></li>
      <li role="presentation"><a class="copy-targeting-item" role="menuitem" tabindex="-1" href="javascript:void(0)" data-type="geo">Geo</a></li>
      <li role="presentation"><a class="copy-targeting-item" role="menuitem" tabindex="-1" href="javascript:void(0)" data-type="freq_cap">Freq Cap</a></li>
    </ul>
  </div>
</div>

<div class="ad-paste-targeting-btn" style="display:none">Paste Targeting</div>
<div class="ad-cancel-targeting-btn" style="display:none">Cancel</div>

<div style="clear:both"></div>
