<div class="task-comment">
  <div class="pure-u-1-5 username">
    <%= created_by %>
  </div>
  <div class="pure-u-3-5">
    <% activity_icon_class = task_state == "closed" ? "task_done-icon" : "task_open-icon" %>
    <div class="<%= activity_icon_class %>"></div>
    <%= note %>
    <p class="activity-log-subrow">
      <!-- TODO: Put real data here if this log activity is a New Task -->
      <span class="task-type"><%= task_type%></span>
      <span class="task-assignee"><%= assignable_name%></span>
      <span class="task-due-date"><%= due_date%></span>
      <% if(original_filename) { %>
        <a href="/file_download/<%= attachment_id%>" class="task-attachment">
          <i class="attachment-type archive-icon"></i> <%= original_filename %>
        </a>
      <% } %>
    </p>
    <div class="system-comment">
      <div class="pure-u-3-5">
        <%= system_comment %>
      </div>
    </div>
  </div>
  <div class="pure-u-1-6 date">
    <%= moment(created_at).format("YYYY-MM-DD hh:mm") %>
  </div>
</div>
