<div class="task-comment">
  <div class="pure-u-1-5 username">
    <%= created_by %>
  </div>
  <div class="pure-u-3-5">
    <!-- TODO: Here should be `task_type` value if this is a task, or nothing otherwise; task could be Open or Done -->
    <!-- TODO: Corresponding task icons will be shown -->
    <% activity_icon_class = activity_type == "task" ? "task_done-icon" : "" %>
    <div class="<%= activity_icon_class %>"></div>
    <%= note %>
    <p class="activity-log-subrow">
      <!-- TODO: Put real data here if this log activity is a New Task -->
      <span class="task-type"><%= task_type%></span>
      <span class="task-assignee"><%= assignable_name%></span>
      <span class="task-due-date"><%= moment(due_date).format('MM/DD/YYYY')%></span>
      <% if(original_filename) { %>
        <a href="#/path-to-file-downloadable-file" onclick="alert('Work in progress. Thanks for clicking');" class="task-attachment">
          <i class="attachment-type archive-icon"></i> <%= original_filename%>
        </a>
      <% } %>
    </p>
  </div>
  <div class="pure-u-1-6 date">
    <%= moment(created_at).format("MM/DD/YYYY") %>
  </div>
</div>