- @orders.each do |order|
  %tr
    -if !@agency_user
      %td
        -if !order.io_detail || !order.source_id.to_i.zero?
          %input{:value=>"#{order.id}", :type => "checkbox", :class => "ordersCheckbox", :disabled => true}
        -else
          %input{:value=>"#{order.id}", :type => "checkbox", :class => "ordersCheckbox"} 
    - if order.io_detail
      %td= IoDetail::STATUS[order.io_detail.try(:state).to_s.to_sym]
    - else
      %td.not-in-om= "Not in OM"
    %td
      -if order.source_id.starts_with? 'R'
        %span.amp-id{:title => "AMP ID"}
          = link_to order.id, order_path(order)
        -if !@agency_user
          &frasl;
          %span.amp-id{:title => "Not Pushed"}
            = "NP"
      -else
        %span.amp-id{:title => "AMP ID"}
          = link_to order.id, order_path(order)
        -if !@agency_user
          &frasl;
          %span.dfp-id{:title => "DFP Order ID"}
            = link_to order.source_id, order.dfp_url, target: '_blank'
      .import-datetime
        = format_date(order.latest_import_or_push_note.try(:created_at))
    %td
      .order-title
        = link_to order.name, order_path(order)
      - if order.order_notes.last.try(:note)
        .order-note{:title => order.order_notes.order(:created_at).last.try(:note), :"data-toggle" => "tooltip", :"data-placement"=> "right", :rel => "tooltip"}
          = order.order_notes.order(:created_at).last.try(:note)

    %td= order.io_detail.try(:reach_client).try(:name)
    %td= order.try(:io_detail).try(:client_advertiser_name)
    -if !@agency_user
      %td= order.io_detail.try(:reach_client).try(:abbr)
    %td
      = order.io_detail.try(:account_manager).try(:full_name)
      -if order.io_detail.try(:account_manager) == order.user
        .order-note Assigned
    -if !@agency_user
      %td
        = order.io_detail.try(:trafficking_contact).try(:full_name)
        -if order.io_detail.try(:trafficking_contact) == order.user
          .order-note Assigned
    %td= format_date(order.start_date)
    %td= format_date(order.end_date)
