- @orders.each do |order|
  %tr
    %td
      %input{:name=>"test", :value=>"#{order.id}", :type => "checkbox", :class => "ordersCheckbox"}
      %td= order.source_id
      %td= order.name
      %td= order.advertiser.name
    -if !order.io_detail.nil? && !order.io_detail.reach_client.nil?
      %td= order.io_detail.try(:reach_client).try(:name)
      %td= order.io_detail.try(:reach_client).try(:abbr)
      %td= order.io_detail.try(:reach_client).try(:account_manager).try(:full_name)
      %td= order.io_detail.try(:reach_client).try(:trafficker).try(:full_name)
      %td= format_date(order.start_date)
      %td= format_date(order.end_date)
    -else
      %td
      %td
      %td
      %td
      %td= format_date(order.start_date)
      %td= format_date(order.end_date)
