<div class="<%= activity_type != undefined && activity_type==='system_comment'?'activity-system-comment':'activity-user-comment'%> ">
    <div class="pure-u-1-5 username">
        <%= created_by %>
    </div>
    <div class="pure-u-3-5">
        <div class="activity_<%= activity_type%>-icon"></div>
        <%= note %>
    </div>
    <div class="pure-u-1-6 date">
      <%= moment(created_at).format("MM/DD/YYYY") %>
    </div>
</div>
