<div class="pure-g">
  <div class="pure-u-1-2 header-title">
    <p class="heading"><i class="activity_log-icon"></i> Activity Log</p>
  </div>
  <div class="pure-u-1-2 header-controls text-right">
    <button class="rui-btn" title="Filter with Comments" id="btnFilterComments">
      <div class="comment-icon"></div>
    </button>
    <button class="rui-btn" title="Filter with Attachments" id="btnFilterAttachments">
      <div class="attachment-icon"></div>
    </button>
    <button class="rui-btn" title="Filter Alerts" id="btnFilterAlerts">
      <div class="alert-icon"></div>
    </button>
    <button class="rui-btn" title="Filter by Done Tasks" id="btnFilterTasks">
      <div class="task_checked-icon"></div>
    </button>
    <button class="rui-btn" title="Filter by Assignee" id="btnFilterUser">
      <div class="user-icon"></div>
    </button>
    <button class="rui-btn" title="Filter with Due Date" id="btnFilterDueDates">
      <div class="clock-icon"></div>
    </button>
    <button class="rui-btn" title="Show full log" id="btnFullLog">Full Log</button>
  </div>
</div>
<div class="activity-input-control pure-g">
  <div class="username pure-u-1-5">
    <%= window.current_user_name %>
  </div>
  <div class="activities pure-u-3-5">
    <textarea id="activity_input" name="activity_input" placeholder="Note" rows="1" cols="26"><%= note%></textarea>
  </div>
  <div class="action-controls pure-u-1-6">
    <button id="btnSaveAttachment"
            class="rui-btn"
            title="Add Attachment"
            type="file"
            name="activity_attachment"
            data-url="/activity_attachment.json"><div class="attachment-icon"></div></button>
    <button id="btnShowTaskForm" class="rui-btn" title="Add Task">
      <div class="task_checked-icon"></div>
    </button>
    <button id="btnSaveAlert" class="rui-btn" title="Add Alert">
      <div class="alert-icon"></div>
    </button>
    <button id="btnSaveComment" class="rui-btn" title="Add Comment">
      <div class="comment-icon"></div>
    </button>
  </div>
</div>
<div id="task_form" class="task-form-region" style="display: none">
  <form class="form-inline" name="task_form">
    <div class="pure-g">
      <div class="pure-u-1 controls-container">
        <div class="task_open-icon"></div>
        <select id="task-types-selector" name="task_type_id">
          <% _.each(task_types, function(tt) { %>
          <option value="<%= tt.get('id')%>" <%= task_type_id == tt.get('id') ? 'selected' : ''%>><%= tt.get('type')%></option>
          <%}); %>
        </select>
        <div class="user-icon"></div>
        <select id="task-assignee-selector">
          <% _.each(users, function(user) { %>
            <option value="<%= user.id%>"><%= user.name%></option>
          <% }); %>
        </select>
        <div class="clock-icon"></div>
        <input type="text" class="span2" value="<%= moment(due_date).format("YYYY-MM-DD") %>" id="due-date" placeholder="Due Date">
        <button type="button" id="saveTask" class="btn btn-small btn-primary editable-submit">
          <i class="icon-ok icon-white"></i>
        </button>
        <!-- Additional sub-form -->
        <div id="pixel-request-subform" style="display: none;">
          <div class="pure-g">
            <div class="pure-u-1">
              <label class="main">Pixel Type</label>
              <label class="radio">
                <input type="radio" name="pixel_type_switch" value="conversion"> Conversion
              </label>
              <label class="radio">
                <input type="radio" name="pixel_type_switch" value="retargeting"> Retargeting
              </label>
            </div>
          </div>
          <div class="pure-g">
            <div class="pure-u-1">
              <input type="text" name="advertiser" placeholder="Advertiser" class="input-medium">&nbsp;
              <input type="text" name="campaign" placeholder="Campaign" class="input-medium">&nbsp;
              <input type="text" name="pixel_location" placeholder="Pixel Location" class="input-medium">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
