<div class="<%= activity_type != undefined && activity_type === 'system_comment' ? 'activity-system-comment' : 'activity-user-comment' %> ">
  <div class="pure-u-1-5 username">
    <%= created_by %>
  </div>
  <div class="pure-u-3-5">
    <!-- TODO: Here should be `task_type` value if this is a task, or nothing otherwise; task could be Open or Done -->
    <!-- TODO: Corresponding task icons will be shown -->
    <% activity_icon_class = activity_type == "task" ? "task_done-icon" : "" %>
    <div class="<%= activity_icon_class %>"></div>
    <%= note %>
    <p class="activity-log-subrow">
      <!-- TODO: Put real data here if this log activity is a New Task -->
      <span class="task-type">Creative</span>
      <span class="task-assignee">Peter Parker</span>
      <span class="task-due-date">08/05/2014</span>
      <a href="#/path-to-file-downloadable-file" onclick="alert('Show download dialog');" class="task-attachment">
        <i class="attachment-type archive-icon"></i> Creatives.zip
      </a>
    </p>
  </div>
  <div class="pure-u-1-6 date">
    <%= moment(created_at).format("YYYY-MM-DD") %>
  </div>
</div>
