<div>
  <label for="sales_person" >Sales Person</label>
  <div>
    <select id="sales_person">
      <% salesPerson.each(function(item){ %>
        <% if(selected_sales_person_id && item.id === selected_sales_person_id) { %>
          <option selected value="<%= item.id %>"> <%= item.getFullName() %> </option>
        <% } else { %>
          <option value="<%= item.id %>"> <%= item.getFullName() %> </option>
        <% } %>
      <%}); %>
    </select>
  </div>
</div>

<div>
  <label for="account_manager" >Account Manager</label>
  <div>
    <select id="account_manager">
      <% accountManager.each(function(item){ %>
        <% if(selected_account_manager_id && item.id === selected_account_manager_id) { %>
          <option selected value="<%= item.id %>"> <%= item.getFullName() %> </option>
        <% } else { %>
          <option value="<%= item.id %>"> <%= item.getFullName() %> </option>
        <% } %>
      <%}); %>
    </select>
  </div>
</div>

<div>
  <label for="trafficker" >Trafficker</label>
  <div>
    <select id="trafficker">
      <% trafficker.each(function(item){ %>
        <% if(selected_trafficker_id && item.id === selected_trafficker_id) { %>
          <option selected value="<%= item.id %>"> <%= item.getFullName() %> </option>
        <% } else { %>
          <option value="<%= item.id %>"> <%= item.getFullName() %> </option>
        <% } %>
      <%}); %>
    </select>
  </div>
</div>