<div class="control-group">
  <label for="media_contact" class="control-label">Media contact</label>
  <div class="controls">
    <select id="media_contact">
      <% mediaContacts.each(function(item){ %>
        <% if(selected_media_id && item.id === selected_media_id) { %>
          <option selected value="<%= item.id %>"> <%= item.get('name') %> </option>
        <% } else { %>
          <option value="<%= item.id %>"> <%= item.get('name') %> </option>
        <% } %>
      <%}); %>
    </select>
    <a class="btn" id="addMediaContact"> Add </a>
    <a class="btn hide" id="editMediaContact"> Edit </a>
    <label class="help-inline form-error" id="media_contact_id_error"></label>
  </div>
</div>

<div class="control-group">
  <label for="billing_contact" class="control-label">Billing contact</label>
  <div class="controls">
    <select id="billing_contact">
      <% billingContacts.each(function(item){ %>
        <% if(selected_billing_id && item.id === selected_billing_id) { %>
          <option selected value="<%= item.id %>"> <%= item.get('name') %> </option>
        <% } else { %>
          <option value="<%= item.id %>"> <%= item.get('name') %> </option>
        <% } %>
      <%}); %>
    </select>
    <a class="btn" id="addBillingContact"> Add </a>
    <a class="btn hide" id="editBillingContact"> Edit </a>
    <label class="help-inline form-error" id="billing_contact_id_error"></label>
  </div>
</div>