<legend>Collective Contacts</legend>

<fieldset>
  <div class="control-group">
    <label for="sales_person" class="control-label">Sales Person</label>
    <div class="controls">
      <select id="sales_person">
        <% salesPerson.each(function(item){ %>
          <% if(selected_sales_person_id && item.id === selected_sales_person_id) { %>
            <option selected value="<%= item.id %>"> <%= item.get('name') %> - <%= item.get('email') %> </option>
          <% } else { %>
            <option value="<%= item.id %>"> <%= item.get('name') %> - <%= item.get('email') %></option>
          <% } %>
        <%}); %>
      </select>
    </div>
  </div>

  <div class="control-group">
    <label for="account_manager" class="control-label">Account Manager</label>
    <div class="controls">
      <select id="account_manager">
        <% accountManager.each(function(item){ %>
          <% if(selected_account_manager_id && item.id === selected_account_manager_id) { %>
            <option selected value="<%= item.id %>"> <%= item.get('name') %> - <%= item.get('email') %></option>
          <% } else { %>
            <option value="<%= item.id %>"> <%= item.get('name') %> - <%= item.get('email') %></option>
          <% } %>
        <%}); %>
      </select>
    </div>
  </div>

  <div class="control-group">
    <label for="trafficker" class="control-label">Trafficker</label>
    <div class="controls">
      <select id="trafficker">
        <% trafficker.each(function(item){ %>
          <% if(selected_trafficker_id && item.id === selected_trafficker_id) { %>
            <option selected value="<%= item.id %>"> <%= item.get('name') %> - <%= item.get('email') %></option>
          <% } else { %>
            <option value="<%= item.id %>"> <%= item.get('name') %> - <%= item.get('email') %></option>
          <% } %>
        <%}); %>
      </select>
    </div>
  </div>
</fieldset>