<table>
  <thead>
    <tr>
      <th><%= name %></th>
      <th>
        <span class="cpp">
          CPP <input type="text" value="<%= cpp %>" class="cpp" data-lineitem="<%= name %>">
        </span>
        <span class="trp">
          TRP Goal <input type="text" value="<%= trp %>" class="trp" data-lineitem="<%= name %>">
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
