<h4>Targeting</h4>

<% var new_kv = [];
   var dfp_kv = []; %>

<div class="pure-g age-targeting">
  <% if(selected_key_values.length > 0) { %>
  <div class="account-contact-icon pull-left" title="Key Value Targeting"></div>
  <div class="pull-left pure-u-11-12">
    <% var kv  = []; for (var i = 0; i < selected_key_values.length; i++) {
      var item = '<div class="tgt-item-kv-container ' + (show_custom_key_values ? 'custom-kv-container' : '') + '">';
      item += ' <span class="tgt-item-caption">'+selected_key_values[i]['title']+'</span>';
      item += ' <span class="remove-btn pull-right" data-ag-id="' + selected_key_values[i]['id'] + '" style="display:none"></span>';

      if(show_custom_key_values) {
        var selected_value = selected_key_values[i],
            rom_kv = selected_value.key_values.split(','),
            is_new = selected_key_values[i]['is_new'];

        if(is_new == undefined) {
          is_new = false;
        }

        if(!dfp_key_values && is_new) {
          item += '<span class="custom-kvs">'+selected_key_values[i]['key_values']+'</span>';
        } else {
          dfp_kv = dfp_key_values.split(',');
          var item_str = '';

          rom_kv.forEach(function(kv) {
            if($.inArray( kv , dfp_kv ) > -1) {
              item_str += kv + ',';
              new_kv.push(kv);
            } else {
              if(!is_new)
                item_str += '<strike>'+kv+'</strike>'+',';
              else
                item_str += kv + ',';
            }
          });

          item += '<span class="custom-kvs">'+item_str.slice(0,-1)+'</span>';
        }
     }
      item += '</div>';
      kv.push(item);
    } %>

    <% var separator = show_custom_key_values ? '<div style="float:left"></div>' : '<div style="float:left">,</div>' %>
    <%= kv.join(separator) %>
   </div>
  <% } %>

  <div style="clear:both"></div>
</div>

<% if(keyvalue_targeting && !show_custom_key_values) { %>
<div class="pure-g keyvalue_targeting">
  <div class="custom-kv-icon pull-left"></div>
  <div class="pull-left pure-u-11-12 custom-kv">
    <%= keyvalue_targeting %>
  </div>
</div>
<% } %>

<div class="pure-g custom-targeting">
  <% if(show_custom_key_values) {
       var cust_kv_str = '';

       if(dfp_kv != '') {
         cust_kv = keyvalue_targeting.split(',');
         cust_kv_str = _.difference(dfp_kv, cust_kv).join(',');
       } else {
          cust_kv_str = keyvalue_targeting;
       }

       var cust_kv_concat = cust_kv_str + ',' +  _.difference(dfp_kv, new_kv).join(',');
       cust_kv_concat = _.unique(cust_kv_concat.split(','));
   %>
  <div class="custom-kv-icon pull-left"></div>
  <div class="add-custom-keyvalue-btn pure-u-11-12">Custom K/V</div>
  <input type="text" name="custom_kvs" placeholder="Ex: btg=val.1, btg=val.2" value="<%= _.compact(cust_kv_concat).join(',') %>"class="custom-kvs-field"/>

  <% } %>
  <div style="clear:both"></div>
  <span class="custom-kv-errors errors_container pure-u"></span>

  <div style="clear:both"></div>
</div>

<% if(selected_geos.length > 0) { %>
<div class="pure-g dma-targeting">
  <div class="dma-targeting-icon pull-left" title="GEOs"></div>
  <div class="pull-left pure-u-11-12">
    <% var geos = []; for (var i = 0; i < selected_geos.length; i++) {
      var item = '<div class="tgt-item-geo-container">';
      item += ' <span class="tgt-item-caption">'+selected_geos[i]['title']+' ('+selected_geos[i]['type']+')</span>';
      item += ' <span class="remove-btn pull-right" data-geo-type="'+selected_geos[i]['type']+'" data-geo-id="'+selected_geos[i]['id']+'" style="display:none"></span>';
      item += '</div>';
      geos.push(item);
    } %>

    <%= geos.join('<div style="float:left">,</div>') %>
  </div>

  <div style="clear:both"></div>
</div>
<% } %>

<div class="pure-g zip-codes-targeting">
  <% if(selected_zip_codes.length > 0) { %>
    <div class="zip-codes-icon" title="Zip codes"></div>
    <div class="pull-left pure-u-11-12">
    <% var zips = [], errors_in_zips = false; for (var i = 0; i < selected_zip_codes.length; i++) {
      if(selected_zip_codes[i].match(/^\s*$/) == null) {
        var is_current_zip_code_valid = selected_zip_codes[i].match(/^\s*(\d{5})\s*$/);
        if(!is_current_zip_code_valid) {
          errors_in_zips = true;
        }
      }
      var item = '<div class="tgt-item-zip-container">';
      item += '<span class="tgt-item-caption ' + (is_current_zip_code_valid ? '' : 'invalid-zip') + '">' + selected_zip_codes[i] + '</span>';
      item += ' <span class="remove-btn pull-right" data-zip="' + selected_zip_codes[i] + '" style="display:none"></span>';
      item += '</div>';
      zips.push(item);
    } %>

    <%= zips.join('<div style="float:left">,</div>') %>

    <% if(errors_in_zips) { %>
    <div style="clear:both"></div>
    <div class="errors-container">Underlined zip codes are not valid. Please edit them.</div>
    <% } %>
  </div>
  <% } %>
</div>
