<h4>Targeting</h4>

<% if(selected_key_values.length > 0) { %>
<div class="account-contact-icon" title="Key Value Targeting"></div>
<div class="age-targeting">
  <% var kv  = []; for (var i = 0; i < selected_key_values.length; i++) { 
    var item = '<div class="tgt-item-kv-container ' + (custom_key_values ? 'custom-kv-container' : '') + '">';
    item += ' <span class="tgt-item-caption">'+selected_key_values[i]['title']+'</span>';
    item += ' <span class="remove-btn" data-ag-id="' + selected_key_values[i]['id'] + '" style="display:none"></span>';
    if(custom_key_values) {
      item += '<span class="custom-kvs">'+selected_key_values[i]['key_values']+'</span>';
    }
    item += '</div>';
    kv.push(item);
  } %>
  <% var separator = custom_key_values ? '<div style="float:left"></div>' : '<div style="float:left">,</div>' %>
  <%= kv.join(separator) %>

  <% if(custom_key_values) { %>
  <div style="clear:both"></div>
  <div class="add-custom-keyvalue-btn" <%= keyvalue_targeting ? 'style="display:none"' : '' %>>
  + Add Custom K/V
  </div>
  <input type="text" name="custom_kvs" value="<%= keyvalue_targeting %>" class="custom-kvs-field" <%= keyvalue_targeting ? '' : 'style="display:none"' %> />
  <% } %>
</div>
<% } %>

<div style="clear:both"></div>

<% if(selected_dmas.length > 0) { %>
<div class="dma-targeting-icon" title="DMAs"></div>
<div class="dma-targeting">
  <div style="float:left"><b>DMAs:</b></div>
  <% var dmas = []; for (var i = 0; i < selected_dmas.length; i++) {
    var item = '<div class="tgt-item-dma-container">';
    item += ' <span class="tgt-item-caption">'+selected_dmas[i]['title']+'</span>';
    item += ' <span class="remove-btn" data-dma-id="' + selected_dmas[i]['id'] + '" style="display:none"></span>';
    item += '</div>';
    dmas.push(item); 
  } %>
  <%= dmas.join('<div style="float:left">,</div>') %>
</div>
<% } %>

<div style="clear:both"></div>
<div class="zip-codes-targeting"> 
  <% if(selected_zip_codes.length > 0) { %>
    <div class="zip-codes-icon" title="Zip codes"></div>
    
    <% var zips = [], errors_in_zips = false; for (var i = 0; i < selected_zip_codes.length; i++) {
      if(selected_zip_codes[i].match(/^\s*$/) == null) {
        var is_current_zip_code_valid = selected_zip_codes[i].match(/^\s*(\d{5})\s*$/);
        if(!is_current_zip_code_valid) {
          errors_in_zips = true;
        }
      }
      var item = '<div class="tgt-item-zip-container">';
      item += '<span class="tgt-item-caption ' + (is_current_zip_code_valid ? '' : 'invalid-zip') + '">' + selected_zip_codes[i] + '</span>';
      item += ' <span class="remove-btn" data-zip="' + selected_zip_codes[i] + '" style="display:none"></span>';
      item += '</div>';
      zips.push(item);
    } %>

    <div style="float:left"><b>Zip Codes:</b></div>
    <%= zips.join('<div style="float:left">,</div>') %>

    <% if(errors_in_zips) { %>
    <div style="clear:both"></div>
    <div class="errors-container">Underlined zip codes are not valid. Please edit them.</div>
    <% } %>
  <% } %>
</div>
