<div class="targeting-options">
  <h4>Targeting options</h4>

  <ul class="nav nav-tabs">
    <li class="active key-values">
      <a href="javascript:void(0)">Key Values</a>
    </li>
    <li class="dmas"><a href="javascript:void(0)">DMAs</a></li>
    <li class="zip-codes"><a href="javascript:void(0)">Zip Codes</a></li>
  </ul>

  <div class="tab key-values">

    Age<br/>
    <% var ages = ["Teens", "18-24", "25-34", "35-44", "45-54", "55-64", "65+"] %>
    <% for(var i = 0; i < ages.length; i++) { %>
    <input type="checkbox" name="age" value="Age.<%= ages[i] %>" <% if(selected_key_values["Age"].indexOf(ages[i]) >= 0) { %>checked="checked"<% } %>/> <%= ages[i] %><br/>
    <% } %>

    Etnicity<br/>
    <% var etno = ["African American", "Asian", "Hispanic"]; %>
    <% for(var i = 0; i < etno.length; i++) { %>
    <input type="checkbox" name="etnicity" value="Etnicity.<%= etno[i] %>" <% if(selected_key_values["Etnicity"].indexOf(etno[i]) >= 0) { %>checked="checked"<% } %> /> <%= etno[i] %><br/>
    <% } %>

    Interests/Other<br/>
    <% var interests = ["Auto", "Business", "Dating", "Entertainment", "Education", "Family", "Fashion", "Finance", "Fitness", "Food", "Gadget", "Health", "Holiday", "Home & Garden/Home", "Improvement", "Home Owner", "Jobs", "Music", "Married", "Political", "Pets", "Real Estate", "Single", "Shopping/Retail", "Sports", "Outdoor", "Technology", "Travel", "Weather", "Hobbies & Interests", "Society", "News", "Moms"]; %>
    <% for(var i = 0; i < interests.length; i++) { %>
    <input type="checkbox" name="interests" value="Interests.<%= interests[i] %>" <% if(selected_key_values["Interests"].indexOf(interests[i]) >= 0) { %>checked="checked"<% } %>/> <%= interests[i] %><br/>
    <% } %>

    Household Income<br/>
    <% var incomes = ["High", "Mid", "Low"]; %>
    <% for(var i = 0; i < incomes.length; i++) { %>
    <input type="checkbox" name="income" value="Income.<%= incomes[i] %>" <% if(selected_key_values["Income"].indexOf(incomes[i]) >= 0) { %>checked="checked"<% } %> /> <%= incomes[i] %> HHI<br/>
    <% } %>

    Gender<br/>
    <input type="checkbox" name="gender" value="Gender.Male" <% if(selected_key_values["Gender"].indexOf("Male") >= 0) { %>checked="checked"<% } %> /> Male<br/>
    <input type="checkbox" name="gender" value="Gender.Female" <% if(selected_key_values["Gender"].indexOf("Female") >= 0) { %>checked="checked"<% } %> /> Female<br/>
  </div>

  <% var selected_dmas_ids = [] %>
  <% for(var prop in selected_dmas) { selected_dmas_ids.push(parseInt(selected_dmas[prop].id)); } %>

  <div class="tab dmas" style="display:none">
    <select multiple class="chosen-select" name="dmas" style="width:95%;">
      <% for (var i = 0; i < dmas_list.length; i++) { %>
      <option value="<%= dmas_list[i].code %>" <% if(selected_dmas_ids.indexOf(dmas_list[i].code) >= 0) { %>selected="selected"<% } %> ><%= dmas_list[i].name %></option>
      <% } %>
    </select>
    <div style="clear:both"></div>

    <div class="dmas-checkboxes-container">
      <% for (var i = 0; i < dmas_list.length; i++) { %>
      <input type="checkbox" name="dma" value="<%= dmas_list[i].code %>" <% if(selected_dmas_ids.indexOf(dmas_list[i].code) >= 0) { %>checked="checked"<% } %> /> <%= dmas_list[i].name %><br/>
      <% } %>
    </div>
  </div>

  <div class="tab zip-codes" style="display:none">
    <textarea rows="7"><%= selected_zip_codes.join(', ') %></textarea>
  </div>
</div>

<div class="selected-targeting">
</div>

<div style="clear:both"></div>

<div class="pull-right">
  <div class="save-targeting-btn">Done</div>
</div>
