<div class="targeting-options">
  <h4>Targeting options
  <% if (type == 'Mobile') { %>
    <span class="mobile-targeting">*Targeting options added for mobile ads will not push to DFP</span>
  <% } else if (type == 'Facebook') { %>
    <span class="mobile-targeting">*Targeting options added for FB ads will not push to DFP</span>
  <% } %>
  </h4>

  <ul class="nav nav-tabs">
    <li class="active key-values">
      <a href="javascript:void(0)">Key Values</a>
    </li>
    <li class="geo"><a href="javascript:void(0)">GEO</a></li>
    <li class="zip-codes"><a href="javascript:void(0)">Zip Codes</a></li>
    <li class="frequency-caps"><a href="javascript:void(0)">Frequency</a></li>
  </ul>

  <% var selected_kv_ids = [] %>
  <% for(var prop in selected_key_values) { selected_kv_ids.push(parseInt(selected_key_values[prop].id)); } %>

  <div class="tab key-values">
    <select multiple class="chosen-select" name="keyvalues" data-placeholder="Select Audience Groups..." style="width:95%;">
      <% for (var i = 0; i < _.keys(audience_groups).length; i++) { %>
      <option value="<%= audience_groups[i]['id'] %>" <% if(_.indexOf(selected_kv_ids, audience_groups[i]['id']) >= 0) { %>selected="selected"<% } %> ><%= audience_groups[i]['name'] %></option>
      <% } %>
    </select>
    <div style="clear:both"></div>

    <div class="key-values-checkboxes-container">
      <% for(var i = 0; i < _.keys(audience_groups).length; i++) { %>
      <input type="checkbox" name="<%= audience_groups[i]['name'] %>" value="<%= audience_groups[i]['id'] %>" <% if(_.indexOf(selected_kv_ids, audience_groups[i]['id']) >= 0) { %>checked="checked"<% } %>/> <%= audience_groups[i]['name'] %><br/>
      <% } %>
      </div>
  </div>

  <div class="tab geo" style="display:none">
    <input type="text" autocomplete="off" class="geo-search" name="geo-search" value=""/>
    <div style="clear:both"></div>
    <div class="geo-checkboxes-container">
    </div>
  </div>

  <div class="tab zip-codes" style="display:none">
    <textarea rows="7" placeholder="Please type/paste list of zip codes in this field comma separated or one zip code per line."><%= selected_zip_codes.join(', ') %></textarea>
  </div>

  <div class="tab frequency-caps" style="display:none">
  </div>
</div>

<div class="selected-targeting">
</div>

<div class="custom-regular-keyvalue-btn pull-right">
  <span>+ Add Custom K/V</span>
</div>

<div style="clear:both"></div>

<div class="pull-right">
  <div class="save-targeting-btn">Done</div>
</div>
