<div class="pure-g">
  <div class="pure-u-1-2">
    <h2 class="heading">
      <i class="task_checked-icon"></i> Task Details
    </h2>
  </div>
</div>

<div class="task-detail-view-close"><i class="close-icon"></i></div>

<div class="pure-g">
  <div class="pure-u-1-5">
    <%= created_by %>
  </div>
  <div class="pure-u-1-2">
    <i class="task_open-icon"></i>
    <p><%= name %></p>
  </div>
  <div class="pure-u-1-5 task-time">
    <%= moment(created_at).endOf('day').fromNow()%>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1-5 follow-task">
    <button id="btnFollowTask" class="rui-btn">
      <i class="follow-icon"></i> Follow
    </button>
  </div>
  <div class="pure-u-1-4">
    <select name="task_type">
      <% _.each(ReachActivityTaskApp.taskTypes, function(tt) { %>
        <option value="<%= tt.get('id')%>" <%= task_type_id ==  tt.get('id') ? 'selected="selected"' : '' %>><%= tt.get('type')%></option>
      <% }); %>
    </select>
  </div>
  <div class="pure-u-1-4">
    <i class="user-icon"></i>
    <span class="editable typeahead" data-type="typeahead" data-pk="1" data-name="assigned_to"><%= assignable_name %></span>
  </div>
  <div class="pure-u-1-5">
    <i class="clock-icon"></i> <%= due_date ? moment(due_date).endOf('day').fromNow() : ""%>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1-5">
    <button class="rui-btn" id="btnMarkTaskDone">
      <i class="green_check-icon"></i> Close Task
    </button>
  </div>
  <div class="pure-u-1-4">
    <!-- XXX: Put here corresponding icon based on file type -->
    <i class="attachment-icon"></i> Creatives.zip
    <button class="rui-btn no-highlight" id="btnRemoveAttachment">
      <i class="close-icon"></i>
    </button>
  </div>
  <div class="pure-u-1-4">
    <i class="task_created_by-icon"></i> <%= created_by %>
  </div>
</div>

<!-- Task comments container -->
<div class="task-comments-container"></div>
<div class="load-more">
    <label id="loadMoreTaskCommentsBtn">Load More...</label>
    <label id="loadLessTaskCommentsBtn" style="display: none;">Load Less...</label>
    <label id="loadDefaultTaskCommentsBtn" style="display: none;">Back to default view...</label>
</div>

<div class="task-comment-input-control pure-g">
  <div class="username pure-u-1-5">
    <%= window.current_user_name%>
  </div>
  <div class="pure-u-1-2">
    <div class="task-comment-input"></div>
    <textarea id="task_comment_input" placeholder="Note" rows="2" cols="26"></textarea>
  </div>
  <div class="task-comment-controls pure-u-1-4">
    <button class="rui-btn activity_log_inactive_attach"
                title="Add Attachment"
                id="btnSaveTaskAttachment"
                type="file"
                name="task_comment_attachment"
                data-url="/activity_attachment.json"></button>
    <button id="btnSaveTaskComment" class="rui-btn activity-log-comment" title="Add Comment"></button>
  </div>
</div>
