<div class="task-detail-view-close"><i class="close-icon"></i></div>

<div class="pure-g">
  <div class="pure-u-1-5">
    <%= created_by %>
  </div>
  <div class="pure-u-1-2">
    <i class="task_open-icon"></i>
    <p><%= name %></p>
  </div>
  <div class="pure-u-1-5 task-time">
    <%= time_since %>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1-5 follow-task">
    <button id="btnFollowTask" class="rui-btn">
      <i class="follow-icon"></i> Follow
    </button>
  </div>
  <div class="pure-u-1-4">
    <select name="task_type">
      <% _.each(task_types, function(tt) { %>
      <option
          value="<%= tt.name %>" <%= tt.task_type == tt.name ? 'selected="selected"' : '' %>><%= tt.display_name %></option>
      <% }); %>
    </select>
  </div>
  <div class="pure-u-1-4">
    <i class="user-icon"></i>
    <span class="editable typeahead" data-type="typeahead" data-pk="1" data-name="assigned_to"><%= assigned_to %></span>
  </div>
  <div class="pure-u-1-5">
    <i class="clock-icon"></i> <%= duration %>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1-5">
    <button class="rui-btn" id="btnMarkTastDone">
      <i class="green_check-icon"></i> Close Task
    </button>
  </div>
  <div class="pure-u-1-4">
    <!-- XXX: Put here corresponding icon based on file type -->
    <i class="attachment-icon"></i> Creatives.zip
  </div>
  <div class="pure-u-1-4">
    <i class="task_created_by-icon"></i> <%= created_by %>
  </div>
</div>

<!-- Task comments container -->
<div class="task-comments-container"></div>