<button class="rui-btn task-detail-view-close semi-transparent">
  <i class="close-icon"></i>
</button>

<div class="pure-g">
  <div class="pure-u-1-5">
    <span class="username"><%= created_by %></span>
  </div>
  <div class="pure-u-1-2">
    <i class="task_open-icon"></i>
    <span><%= name %></span>
  </div>
  <div class="pure-u-1-5 task-time">
    <%= moment(created_at).endOf('day').fromNow()%>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1-5 follow-task">
    <button id="btnFollowTask" class="rui-btn">
      <i class="follow-icon"></i> Follow
    </button>
  </div>
  <div class="pure-u-1-4">
    <%= task_type %>
  </div>
  <div class="pure-u-1-4">
    <i class="user-icon"></i>
    <span class="editable typeahead" data-type="typeahead" data-pk="1" data-name="assigned_to"><%= assignable_name %></span>
  </div>
  <div class="pure-u-1-5">
    <i class="clock-icon"></i> <%= due_date ? moment(due_date).endOf('day').fromNow() : "" %>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1-5">
    <button class="rui-btn" id="btnMarkTaskDone">
      <i class="green_check-icon"></i> Close Task
    </button>
  </div>
  <div class="pure-u-1-4">
    <!-- TODO: Put here corresponding icon based on file type -->
    <i class="attachment-icon"></i> Creatives.zip
  </div>
  <div class="pure-u-1-4">
    <i class="task_created_by-icon"></i> <%= created_by %>
  </div>
</div>

<!-- Task comments container -->
<div class="task-comments-container"></div>
<div class="load-more">
    <label id="loadMoreTaskCommentsBtn">Load More...</label>
    <label id="loadLessTaskCommentsBtn" style="display: none;">Load Less...</label>
    <label id="loadDefaultTaskCommentsBtn" style="display: none;">Back to default view...</label>
</div>

<div class="task-comment-input-control pure-g">
  <div class="username pure-u-1-5">
    <%= window.current_user_name%>
  </div>
  <div class="pure-u-1-2">
    <div class="task-comment-input"></div>
    <textarea id="task_comment_input" placeholder="Note" rows="2" cols="26"></textarea>
  </div>
  <div class="task-comment-controls pure-u-1-4">
    <button class="rui-btn"
                title="Add Attachment"
                id="btnSaveTaskAttachment"
                type="file"
                name="task_comment_attachment"
                data-url="/activity_attachment.json">
      <i class="attachment-icon"></i>
    </button>
    <button id="btnSaveTaskComment" class="rui-btn" title="Add Comment">
      <div class="comment_white-icon"></div>
    </button>
  </div>
</div>
