<div class="task-row pure-g">
  <div id="task_<%= id %>" class="pure-u-1 task-details-container"></div>
  <div class="border-breaker"></div>
  <div class="task-comment pure-u-1-24">

    <% var task_comment_icon = (important) ? "alert-icon" :"comment-icon" %>
    <span class="<%= task_comment_icon %> icon-wrapper">
      <!-- TODO: Instead of 'false' use 'important' flag-->
      <% if (comments_size > 0 && !false) { %>
      <sup class="task-badge"><%= comments_size %></sup>
      <% } %>
    </span>
  </div>
  <div class="task-type pure-u-1-24 center">
    <% task_icon_class = task_state == "closed" ? "task_done-icon" : "task_open-icon" %>
    <div class="<%= task_icon_class %>"></div>
  </div>
  <div class="pure-u-1-2 task-name">
    <%= name %>
  </div>
  <div class="pure-u-1-8 task-time">
    <%= moment(due_date).format('YYYY-MM-DD') %>
  </div>
  <!-- Follow icon is not required in the first phase -->
  <!--<div class="pure-u-1-24 center">
    <div class="follow-icon"></div>
  </div>-->
  <div class="pure-u-1-5 text-right">
    <%= assignable_name%>
  </div>
</div>