<div class="task-detail-view-close pure-u-1 pull-right"></div>

<div style="clear:both"></div>

<div class="pure-u-1-5">
  <%= created_by%>
</div>
<div class="pure-u-1-2 task-name">
  <p><%= name%></p>
</div>
<div class="pure-u-1-5 task-time">
</div>

<div style="clear:both"></div>

<div class="pure-u-1-5 follow-task">
  Follow
</div>
<div class="pure-u-1-4 task-type">
  <select name="task_type">
    <% _.each(ReachActivityTaskApp.taskTypes, function(tt) { %>
      <option value="<%= tt.get('id')%>" <%= task_type_id ==  tt.get('id') ? 'selected="selected"' : '' %>><%= tt.get('name')%></option>
    <% }); %>
  </select>
</div>
<div class="pure-u-1-4 assigned-to">
  <span class="editable typeahead" data-type="typeahead" data-pk="1" data-name="assigned_to"><%= assignable_name %></span>
</div>
<div class="pure-u-1-5 task-duration">
</div>

<div style="clear:both"></div>

<div class="pure-u-1-5 close-task">
  Close Task
</div>
<div class="pure-u-1-4 task-attachment">
  Creatives.zip
</div>
<div class="pure-u-1-4 task-created-by">
</div>

<div style="clear:both"></div>

<div class="task-comments"></div>
<div class="task-comment-input-control pure-g">
    <div class="username pure-u-1-5">
        <%= window.current_user_name%>
    </div>
    <div class="pure-u-1-2">
        <div class="task-comment-input"></div>
        <textarea id="task_comment_input" placeholder="Note" rows="2" cols="26"></textarea>
    </div>
    <div class="task-comment-controls pure-u-1-4">
        <div class="save-comment" title="Add Attachment">
            <div class="save-task-attachment-btn" id="btnSaveTaskAttachment" type="file" name="task_comment_attachment" data-url="/activity_attachment.json"/>
        </div>
        <div class="save-comment" title="Add Comment">
            <div class="save-task-comment-btn" id="btnSaveTaskComment"></div>
        </div>
    </div>
</div>
