<button class="rui-btn task-detail-view-close semi-transparent">
  <i class="close-icon"></i>
</button>

<div class="pure-g">
  <div class="pure-u-1-5">
    <label class="text-right secondary"><%= created_by %></label>
  </div>
  <div class="task-name pure-u-1-2">
    <i class="task_open-icon"></i>
    <span class="editable custom" data-type="textarea" data-pk="<%= id %>" data-name="name" data-mode="popup" data-rows="2" data-cols="5" data-inputclass="wide-editable-text"><%= name %></span>
  </div>
  <div class="pure-u-1-5 task-time">
    <%= moment(created_at).fromNow() %>
  </div>
</div>

<div class="pure-g-r">
  <div class="pure-u-1-5">&nbsp;</div>
  <div class="pure-u-1-2">
    <div class="pure-g-r">
      <div class="pure-u-1-2 task-type">
        <select id="taskTypeSelector" name="task_type_id" class="selectpicker" data-live-search="true" <%= is_closed ? 'disabled="disabled"' : '' %>>
          <% _.each(ReachActivityTaskApp.taskTypes, function(tt) { %>
          <option value="<%= tt.get('id')%>" <%= task_type_id == tt.get('id') ? 'selected' : ''%>><%= tt.get('type')%></option>
          <%}); %>
        </select>
      </div>
      <div class="pure-u-1-2 assignable-name">
        <div class="form-control-group">
          <i class="user-icon"></i>
          <select name="assignee_id" id="assigneeSelector" class="selectpicker" data-live-search="true" <%= is_closed ? 'disabled="disabled"' : '' %>>
            <% _.each(users, function(user) { %>
            <option value="<%= user.id %>" <%= assignable_id == user.id ? 'selected' : ''%>><%= user.name %></option>
            <% }) %>
          </select>
        </div>
      </div>
    </div>
    <div class="pure-g-r" style="margin-top: 10px;">
      <div class="pure-u-1-2">
        <% if(original_filename) { %>
        <a href="/file_download/<%= attachment_id %>" class="task-attachment">
          <!-- TODO: Put here corresponding icon based on file type -->
          <i class="attachment-type archive-icon"></i> <%= original_filename %>
        </a>
        <% } %>
      </div>
      <div class="pure-u-1-2">
        <i class="task_created_by-icon"></i> <%= created_by %>
      </div>
    </div>
  </div>
  <div class="pure-u-1-5">
    <i class="clock-icon"></i>
    <span id="taskDueDateText"><%= due_date ? moment(due_date_with_tz).fromNow() : "" %></span>
    <input type="text" class="span2" value="<%= due_date %>" id="createdTaskDueDate" placeholder="Due Date" style="display: none;">
  </div>
</div>
<div class="pure-g-r" style="margin-top: 10px;">
  <div class="pure-u-1-5"><label class="text-right secondary" style="margin-top: 5px;">Task status</label></div>
  <div class="pure-u-4-5 task-action-controls">
    <div class="form-control-group task-status-label">
      <% if (task_state == "assigned") { %>
      <i class="task_open-icon"></i> Open
      <% } else if(task_state == "closed") { %>
      <i class="checkmark-icon"></i> Closed
      <% } else { %>
      <i class="task_done-icon"></i> Completed
      <% } %>
    </div>
    <div class="form-control-group">
      <!-- OPEN -> COMPLETE + URGENT -->
      <% if (task_state == "assigned") { %>
        <button class="rui-btn rui-btn-blue semi-transparent" id="btnMarkTaskComplete">
          <i class="task_done_white-icon"></i> Complete
        </button>
        <button id="btnMarkTaskUrgent" class="rui-btn rui-btn-blue semi-transparent">
          <i class="alert_white-icon"></i> Urgent
        </button>
      <!-- CLOSED -> REOPEN -->
      <% } else if (task_state == "closed") { %>
        <button class="rui-btn rui-btn-blue semi-transparent" id="btnTaskReopen">
          <i class="reopen_white-icon"></i> Reopen
        </button>
      <!-- COMPLETED -> CLOSE + REOPEN -->
      <% } else { %>
        <button id="btnMarkTaskDone" class="rui-btn rui-btn-green semi-transparent">
          <i class="checkmark_white-icon"></i> Close
        </button>
        <button class="rui-btn rui-btn-blue semi-transparent" id="btnTaskReopen">
          <i class="reopen_white-icon"></i> Reopen
        </button>
      <% } %>
    </div>
    <div class="form-control-group">
      <button id="btnFollowTask" class="rui-btn rui-btn-blue semi-transparent">
        <i class="follow_white-icon"></i> Follow
      </button>
    </div>
  </div>
</div>
