<button class="rui-btn task-detail-view-close semi-transparent">
  <i class="close-icon"></i>
</button>

<div class="pure-g">
  <div class="pure-u-1-5">
    <span class="username"><%= created_by %></span>
  </div>
  <div class="pure-u-1-2">
    <i class="task_open-icon"></i>
    <span><%= name %></span>
  </div>
  <div class="pure-u-1-5 task-time">
    <%= moment(created_at).endOf('day').fromNow() %>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1-5">
    <!--<div>
      <button id="btnFollowTask" class="rui-btn semi-transparent">
        <i class="follow-icon"></i> Follow
      </button>
    </div> -->
    <div>
      <div id="btnMarkTaskDone" class="rui-btn <%= task_state == "closed" ? "active" : "semi-transparent" %>">
        <i class="green_check-icon"></i> <%= (task_state != 'closed' ? 'Close Task' : 'Closed') %>
      </div>
    </div>
    <div>
      <button id="btnMarkTaskUrgent" class="rui-btn  <%= (important)? 'active' : 'semi-transparent'%>">
        <i class="alert-icon"></i> Urgent
      </button>
    </div>
  </div>
  <div class="pure-u-1-4">
    <div>
      <%= task_type %>
    </div>
    <div>
      <% if(original_filename) { %>
        <a href="/file_import/<%= attachment_id %>" class="task-attachment">
          <!-- TODO: Put here corresponding icon based on file type -->
          <i class="attachment-type archive-icon"></i> <%= original_filename %>
        </a>
      <% } %>
    </div>
  </div>
  <div class="pure-u-1-4">
    <div>
      <i class="user-icon"></i>
      <span class="editable typeahead" data-type="typeahead" data-pk="1" data-name="assigned_to"><%= assignable_name %></span>
    </div>
    <div>
      <i class="task_created_by-icon"></i> <%= created_by %>
    </div>
  </div>
  <div class="pure-u-1-5">
    <i class="clock-icon"></i> <%= due_date ? moment(due_date).endOf('day').fromNow() : "" %>
  </div>
</div>

<!-- Task comments container -->
<div class="task-comments-container"></div>

<div class="task-comment-input-control pure-g">
  <div class="username pure-u-1-5">
    <%= window.current_user_name%>
  </div>
  <div class="pure-u-2-3">
    <div class="action-controls">
      <div id="attachmentUploader">
        <input type="file" name="file" id="btnSaveTaskAttachment" class="attachment-file-upload">
        <i class="attachment-icon"></i>
      </div>
      <button id="btnSaveTaskComment" class="rui-btn" title="Add Comment">
        <div class="comment_white-icon"></div>
      </button>
    </div>
    <div class="task-comment-input-container">
      <textarea id="task_comment_input" placeholder="Note" rows="2" cols="26"></textarea>
    </div>
    <div class="rui-btn" id="btnRemoveTaskAttachment">
      <!--TODO: prefix before "-icon" should be generated dynamically based on actual file type (file extension) -->
      <i class="attachment-type archive-icon"></i>
      <a id="task-attachment-file-name" href="">Test.zip</a>
      <i class="remove-btn"></i>
    </div>
  </div>
</div>