- content_for :content do
  .pure-g.main-container
    .pure-u.admin-left
      .v-nav
        %ul
          %li{class: ('active' if controller.class.name == 'Admin::ReachClientsController')}
            = link_to 'Reach Clients', admin_reach_clients_path
          %li{class: ('active' if controller.class.name == 'Admin::AudienceGroupsController')}
            = link_to 'Audience Groups', admin_audience_groups_path
          %li{class: ('active' if controller.class.name == 'Admin::BlockSitesController')}
            = link_to 'Block Adv on Sites', admin_block_sites_path
          %li{class: ('active' if controller.class.name == 'Admin::BlockedAdvertisersController')}
            = link_to 'View Blocked Sites on Adv', admin_blocked_advertisers_path
          %li{class: ('active' if controller.class.name == 'Admin::DefaultBlockListController')}
            = link_to 'Default Blocks', admin_default_block_list_index_path
    .pure-u.admin-right
      .admin-content
        = yield

= render template: "layouts/application"

:javascript
  $(document).ready(function() {
    $(window).resize(resizeContent);
    $(resizeContent);
  });

  function resizeContent() {
    var width = $(window).width() - 350;
    var height = $(window).height() - 84;
    $(".v-nav").height(height);
  }
