!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title= content_for?(:title) ? yield(:title) : "Reach UI"
    %meta{:content => "Collective Reach UI", :name => "description"}
    %meta{:content => "Collective", :name => "author"}
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Armata"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    .app_header
      .navbar
        .navbar-inner
          %a.brand{:href => "#"}
            = image_tag "cm_logo.jpg"

          %ul.nav
            - ApplicationHelper::APP_NAVIGATION_BAR.each do |key, value|
              %li{:class => ("active" if value[:controllers].include?(controller.class.name))}
                = link_to key, value[:path]

          %ul.nav.pull-right
            %li.user-info
              %span
                = current_network.name
                %br
                = current_user.first_name
                = current_user.last_name
                (
                = current_user.account_login
                )
            %li
              = link_to "Signout", signout_path
    .breadcrumbs
      = render_crumbs separator: "&nbsp;&nbsp;/&nbsp;&nbsp;".html_safe , last_crumb_linked: false

    .app_content
      = content_for?(:content) ? yield(:content) : yield

  :javascript
    window.current_user_name = "#{current_user.try(:full_name)}";
