!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title= content_for?(:title) ? yield(:title) : "Reach UI"
    %meta{:content => "Collective Reach UI", :name => "description"}
    %meta{:content => "Collective", :name => "author"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    #app_header
      .navbar
        .navbar-inner
          %a.brand{:href => "#"}
            = image_tag "cm_logo.jpg"

          %ul.nav
            - ApplicationHelper::APP_NAVIGATION_BAR.each do |key, value|
              %li{:class => ("active" if controller_name == key)}
                = link_to value, {:controller => key}

          %ul.nav.pull-right
            %li
              = link_to "Signout", signout_path
    .breadcrumbs
      = render_crumbs separator: "&nbsp;&nbsp;/&nbsp;&nbsp;".html_safe , last_crumb_linked: false

    = yield

:javascript
  $(document).ready(function(){
    var width = $(window).width() - 200;
    var height = $(window).height();
    $("#container").css({"min-width": width+"px"});
    $("#left_sidebar").css({"min-height": height+"px"});
  });
