!!!
%html{'ng-app' => "cdeskApp"}
  %head
    %meta{:charset => "utf-8"}
    %title= content_for?(:title) ? yield(:title) : "Reporting"
    %meta{:content => "Collective Desk UI", :name => "description"}
    %meta{:content => "Collective", :name => "author"}
    %link{:rel => "shortcut icon", :href => "#{image_path('collective.png')}", :type => "image/x-icon"}

    :javascript
      window.scala_api                = "#{scala_api_url}";
      window.workflow_api             = "#{workflow_api_url}";

    = stylesheet_link_tag    "cdesk_application", :media => "all"
    = stylesheet_link_tag    "//fonts.googleapis.com/css?family=Armata"
    = javascript_include_tag "cdesk_application"
    = csrf_meta_tags

    != render :partial => 'layouts/ga'
    = yield(:head)

  %body
    - if cookies[:cdesk_session]
      %header





  = content_for?(:content) ? yield(:content) : yield
  
  :javascript
    window.assets                   = {};
    window.assets.target_marker     = "#{image_path('cdesk/icn_goal.png')}";
    window.assets.platform_icon     = "#{image_path('tag_icon.png')}";
    window.assets.ontrack           = "#{image_path('statusWidget/on_track_icon.png')}";
    window.assets.underperforming   = "#{image_path('statusWidget/underperforming_icon.png')}";
    window.assets.paused            = "#{image_path('statusWidget/paused_icon.png')}";
    window.assets.ready             = "#{image_path('statusWidget/ready_icon.png')}";
    window.assets.completed         = "#{image_path('statusWidget/completed_icon.png')}";
    window.assets.draft             = "#{image_path('statusWidget/draft_icon.png')}";
    window.assets.active            = "#{image_path('statusWidget/active_icon.png')}";
