!!!
%html{'ng-app' => "cdeskApp"}
  %head
    %meta{:charset => "utf-8"}
    %title= content_for?(:title) ? yield(:title) : "Collective Desk"
    %meta{:content => "Collective Desk UI", :name => "description"}
    %meta{:content => "Collective", :name => "author"}
    %link{:rel => "shortcut icon", :href => "http://collective.com/wp-content/themes/okcm/images/favicon.ico", :type => "image/x-icon"}

    :javascript
      window.scala_api                = "#{scala_api_url}";
      window.nodejs_api                = "#{nodejs_api_url}";

    = stylesheet_link_tag    "cdesk_application", :media => "all"
    = stylesheet_link_tag    "//fonts.googleapis.com/css?family=Armata"
    = javascript_include_tag "cdesk_application"
    = csrf_meta_tags

    != render :partial => 'layouts/ga'
    = yield(:head)

  %body
    %header





  = content_for?(:content) ? yield(:content) : yield

  :javascript
    window.user_id                  = "#{current_user.id}";
    window.auth_token               = "#{auth_token}";
    window.is_network_user          = "#{current_user.network_user?}";
    window.assets                   = {};
    window.assets.target_marker     = "#{image_path('cdesk/icn_goal.png')}";
    window.assets.platform_icon     = "#{image_path('tag_icon.png')}";
    window.user_name                = "#{current_user.first_name}";
